<!-- Main Content -->
<div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <br />
        <h1 class="h3 mb-2 text-gray-800" style="font-weight:bold;">Gestão de Empresas</h1>
        <br />

        <!-- Content Row -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex">
                <div class="mr-auto p-2"><h3 class="m-0 font-weight-bold" style="color:#FF4500;">Empresas</h3></div>
                <div class="p-2">
                    <a href="#" class="btn btn-warning btn-icon-split" data-toggle="modal" data-target="#editar_empresa">
                        <span class="icon text-white-50">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="text">Editar</span>
                    </a>
                </div>
                <div class="p-2" id="eliminar_empresa">
                    <a href="#" class="btn btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">Eliminar</span>
                    </a>
                </div>
            </div>
            <div class="card-body" method="post">
                <div class="table-responsive" id="tabela_empresa" method="post">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modall editar utilizador -->
<div class="modal fadeIn gestaoUtilizador" id="editar_empresa" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12 text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br />
                    <h1>Editar Empresa</h1>
                </div>
            </div>
            <div class="modal-body" style="padding: 40px 60px;">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="formEditarEmpresa" class="user text-center" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="nome_empresa" placeholder="Nome">
                            </div>
                            <div class="form-group">
                                <select class="form-control form-control-user" data-live-search="true" id="profissao_empresa" onchange="checkProfissao(this);">
                                    <option value="" disabled selected>Profissão</option>
                                    <option value="Empresa">Empresa</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="ramoEp_empresa" placeholder="Ramo Empresarial">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control form-control-user" id="nEmpregados_empresa" placeholder="Nº de empregados">
                            </div>
                            <div class="form-group">
                                <select class="form-control form-control-user" data-live-search="true" id="regiao_empresa">
                                    <option value="" disabled selected>Região do país</option>
                                    <option value="Alentejo">Alentejo</option>
                                    <option value="Algarve">Algarve</option>
                                    <option value="Beira Interior">Beira Interior</option>
                                    <option value="Beira Litoral">Beira Litoral</option>
                                    <option value="Entre Douro e Minho">Entre Douro e Minho</option>
                                    <option value="Ribatejo e Oeste">Ribatejo e Oeste</option>
                                    <option value="Região Autónoma dos Açores">Região Autónoma dos Açores</option>
                                    <option value="Região Autónoma da Madeira">Região Autónoma da Madeira</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="email_empresa" placeholder="E-mail">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="password_empresa" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control form-control-user" id="descricao_empresa" name="message" rows="5" cols="30" placeholder="Pequeno texto de apresentção pessoal"></textarea>
                            </div>
                            <br />
                            <button type="submit" class="btn btn-primary btn-user btn-block btUtilizador">Editar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../../controller/empresa.js"></script>