<!-- Main Content -->
<div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <br />
        <h1 class="h3 mb-2 text-gray-800" style="font-weight:bold;">Gestão de Estudantes e Professores</h1>
        <br />

        <!-- Content Row -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex">
                <div class="mr-auto p-2"><h3 class="m-0 font-weight-bold" style="color:#FF4500;">Estudantes e Professores</h3></div>
                <div class="p-2">
                    <a href="#" class="btn btn-warning btn-icon-split" data-toggle="modal" data-target="#editar_estudante">
                        <span class="icon text-white-50">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="text">Editar</span>
                    </a>
                </div>
                <div class="p-2" id="eliminar_estudante">
                    <a href="#" class="btn btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">Eliminar</span>
                    </a>
                </div>
            </div>
            <div class="card-body" method="post">
                <div class="table-responsive" id="tabela_estudante" method="post">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal editar utilizador -->
<div class="modal fadeIn gestaoUtilizador" id="editar_estudante" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12 text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br />
                    <h1>Editar Estudante/Professor</h1>
                </div>
            </div>
            <div class="modal-body" style="padding: 40px 60px;">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="formEditarEstudante" class="user text-center" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="nome_estudante" aria-describedby="" placeholder="Nome">
                            </div>
                            <div class="form-group" id="idadeDiv">
                                <input type="number" class="form-control form-control-user" id="idade_estudante" aria-describedby="" placeholder="Idade">
                            </div>
                            <div class="form-group" id="generoDiv">
                                <select class="form-control form-control-user" data-live-search="true" id="genero_estudante">
                                    <option value="" disabled selected>Género</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Feminino">Feminino</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control form-control-user" data-live-search="true" id="profissao_estudante" onchange="checkProfissao(this);">
                                    <option value="" disabled selected>Profissão</option>
                                    <option value="Professor/Investigador">Professor/Investigador</option>
                                    <option value="Estudante">Estudante</option>
                                </select>
                            </div>
                            <!--Escolha de opções Profissão-->
                            <!--Professor/Investigador-->
                            <div id="PI">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="area_estudante" aria-describedby="" placeholder="Área Científica">
                                </div>
                            </div>
                            <!--Estudante-->
                            <div id="Estudante">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="estudo_estudante" aria-describedby="" placeholder="Ciclo de Estudo">
                                </div>
                            </div>
                            <!--Fim da escolha de profissões-->
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="email_estudante" placeholder="E-mail">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="password_estudante" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control form-control-user" id="descricao_estudante" name="message" rows="5" cols="30" placeholder="Pequeno texto de apresentação pessoal"></textarea>
                            </div>
                            <br />
                            <button type="submit" class="btn btn-primary btn-user btn-block btUtilizador">Editar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pop-up editar -->
<div class="modal fadeIn aviso" id="avisoPop" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-bell"><span>Notificação</span></i>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br />
            <div class="modal-body" style="padding: 20px 40px 30px;">
                <div class="col-lg-12 text-center">
                    <p>Utilizador editado com sucesso!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pop-up editar mal -->
<div class="modal fadeIn aviso" id="avisoMal" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-bell"><span>Notificação</span></i>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br />
            <div class="modal-body" style="padding: 20px 40px 30px;">
                <div class="col-lg-12 text-center">
                    <p>Utilizador não foi editado com sucesso!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pop-up eliminar-->
<div class="modal fadeIn aviso" id="avisoEli" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-bell"><span>Notificação</span></i>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br />
            <div class="modal-body" style="padding: 20px 40px 30px;">
                <div class="col-lg-12 text-center">
                    <p>Utilizador eliminado com sucesso!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pop-up eliminar mal-->
<div class="modal fadeIn aviso" id="avisoEliMal" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-bell"><span>Notificação</span></i>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br />
            <div class="modal-body" style="padding: 20px 40px 30px;">
                <div class="col-lg-12 text-center">
                    <p>Utilizador não foi eliminado com sucesso!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Check escolhas profissões-->
<script type="text/javascript">
    function checkProfissao(that) {
        if (that.value == "Professor/Investigador") {
            document.getElementById("PI").style.display = "block";
            document.getElementById("Estudante").style.display = "none";
        } else if (that.value == "Estudante") {
            document.getElementById("PI").style.display = "none";
            document.getElementById("Estudante").style.display = "block";
        }
        else {
            document.getElementById("PI").style.display = "none";
            document.getElementById("Estudante").style.display = "none";
        }
    }
</script>

<script type="text/javascript" src="../../../controller/estudante.js"></script>