<!-- Main Content -->
<div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <br />
        <h1 class="h3 mb-2 text-gray-800" style="font-weight:bold;">Gestão de eventos</h1>
        <br />

        <!-- Content Row -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex">
                <div class="mr-auto p-2"><h3 class="m-0 font-weight-bold" style="color:#FF4500;">Eventos</h3></div>
                <div class="p-2" id="verEvento">
                    <a href="#" class="btn btn-info btn-icon-split" data-toggle="modal">
                        <span class="icon text-white-50">
                            <i class="fas fa-eye" aria-hidden="true"></i>
                        </span>
                        <span class="text">Visualizar imagem</span>
                    </a>
                </div>
                <div class="p-2">
                    <a href="#" class="btn btn-success btn-icon-split" data-toggle="modal" data-target="#docEvento">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus-circle" aria-hidden="true"></i>
                        </span>
                        <span class="text">Adicionar imagem</span>
                    </a>
                </div>
                <div class="p-2">
                    <a href="#" class="btn btn-success btn-icon-split" data-toggle="modal" data-target="#adicionar_evento">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus-circle"></i>
                        </span>
                        <span class="text">Adicionar</span>
                    </a>
                </div>
                <div class="p-2">
                    <a href="#" class="btn btn-warning btn-icon-split" data-toggle="modal" data-target="#editar_evento">
                        <span class="icon text-white-50">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="text">Editar</span>
                    </a>
                </div>
                <div class="p-2" id="eliminar_evento">
                    <a href="#" class="btn btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">Eliminar</span>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive" id="tabela_eventos" method="post">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal adicionar evento -->
<div class="modal fadeIn gestaoEvento" id="adicionar_evento" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12 text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br />
                    <h1>Adicionar evento</h1>
                </div>
            </div>
            <div class="modal-body" style="padding: 40px 60px;">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <form id="formNewEvento" class="user text-center" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="nomeEvento" aria-describedby="" placeholder="Nome do evento">
                            </div>
                            <div class="form-group">
                                <select class="form-control form-control-user" data-live-search="true" id="area_conhecimento">
                                    <option value="" disabled selected>Área de Conhecimento</option>
                                    <option value="Gestão do Âmbito">Gestão do Âmbito</option>
                                    <option value="Gestão de Aquisições">Gestão de Aquisições</option>
                                    <option value="Gestão da Comunicação">Gestão da Comunicação</option>
                                    <option value="Gestão do Cronograma">Gestão do Cronograma</option>
                                    <option value="Gestão do Custo">Gestão do Custo</option>
                                    <option value="Gestão da Integração">Gestão da Integração</option>
                                    <option value="Gestão da Qualidade">Gestão da Qualidade</option>
                                    <option value="Gestão dos Recursos">Gestão dos Recursos</option>
                                    <option value="Gestão de Riscos">Gestão de Riscos</option>
                                    <option value="Gestão dos Stakeholders">Gestão dos Stakeholders</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control form-control-user" data-live-search="true" id="tipoEvento">
                                    <option value="" disabled selected>Tipo de Evento</option>
                                    <option value="Workshop">Workshop</option>
                                    <option value="Palestra">Palestra</option>
                                    <option value="Conferência">Conferência</option>
                                    <option value="Trainee">Trainee</option>
                                    <option value="Feira de Emprego">Feira de Emprego</option>
                                    <option value="Outro">Outro</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="descricao" placeholder="Descrição">
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control form-control-user" id="inicioEvento" placeholder="Data de início">
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control form-control-user" id="fimEvento" placeholder="Data de fim">
                            </div>
                            <br />
                            <button type="submit" method="post" id="btEvento" class="btn btn-primary btn-user btn-block">Adicionar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal editar evento -->
<div class="modal fadeIn gestaoEvento" id="editar_evento" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12 text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br />
                    <h1>Editar evento</h1>
                </div>
            </div>
            <div class="modal-body" style="padding: 40px 60px;">
                <div class="row text-center">
                    <div class="col-lg-12 text-center">
                        <form id="formEditarEvento" class="user text-center" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="nomeEvento_edi" aria-describedby="" placeholder="Nome do evento">
                            </div>
                            <div class="form-group">
                                <select class="form-control form-control-user" data-live-search="true" id="area_conhecimento_edi">
                                    <option value="" disabled selected>Área de Conhecimento</option>
                                    <option value="Gestão do Âmbito">Gestão do Âmbito</option>
                                    <option value="Gestão de Aquisições">Gestão de Aquisições</option>
                                    <option value="Gestão da Comunicação">Gestão da Comunicação</option>
                                    <option value="Gestão do Cronograma">Gestão do Cronograma</option>
                                    <option value="Gestão do Custo">Gestão do Custo</option>
                                    <option value="Gestão da Integração">Gestão da Integração</option>
                                    <option value="Gestão da Qualidade">Gestão da Qualidade</option>
                                    <option value="Gestão dos Recursos">Gestão dos Recursos</option>
                                    <option value="Gestão de Riscos">Gestão de Riscos</option>
                                    <option value="Gestão dos Stakeholders">Gestão dos Stakeholders</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control form-control-user" data-live-search="true" id="tipoEvento_edi">
                                    <option value="" disabled selected>Tipo de Evento</option>
                                    <option value="Workshop">Workshop</option>
                                    <option value="Palestra">Palestra</option>
                                    <option value="Conferência">Conferência</option>
                                    <option value="Trainee">Trainee</option>
                                    <option value="Feira de Emprego">Feira de Emprego</option>
                                    <option value="Outro">Outro</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="descricao_edi" placeholder="Descrição">
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control form-control-user" id="inicioEvento_edi" placeholder="Data de início">
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control form-control-user" id="fimEvento_edi" placeholder="Data de fim">
                            </div>
                            <br />
                            <button type="submit" id="btEvento" class="btn btn-primary btn-user btn-block">Editar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Adicionar documento-->
<div class="modal fadeIn gestaoRelatorio" id="docEvento" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12 text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br />
                    <h1>Adicionar documento</h1>
                </div>
            </div>
            <div class="modal-body" style="padding: 40px 60px;">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="formNewRelatorio" enctype="multipart/form-data" action="/" class="user text-center" method="post">
                            <p>NOTA: O nome da imagem tem que ser igual ao nome do evento.</p>
                            <div class="form-group">
                                <input type="file" name="file" id="file" />
                                <span>(apenas ficheiros em formato .png)</span>
                            </div>
                            <br />
                            <button type="submit" value="upload" class="btn btn-primary btn-user btn-block" id="btRelatorio">Adicionar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pop-up adicionar -->
<div class="modal fadeIn aviso" id="avisoEventoAdd" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-bell"><span>Nofiticação</span></i>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br />
            <div class="modal-body" style="padding: 20px 40px 30px;">
                <div class="col-lg-12 text-center">
                    <p>Evento adicionado com sucesso!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pop-up adicionar mal -->
<div class="modal fadeIn aviso" id="avisoEventoAddMal" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-bell"><span>Nofiticação</span></i>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br />
            <div class="modal-body" style="padding: 20px 40px 30px;">
                <div class="col-lg-12 text-center">
                    <p>Evento não foi adicionado com sucesso!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pop-up editar -->
<div class="modal fadeIn aviso" id="avisoEventoEdi" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-bell"><span>Nofiticação</span></i>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br />
            <div class="modal-body" style="padding: 20px 40px 30px;">
                <div class="col-lg-12 text-center">
                    <p>Evento editado com sucesso!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pop-up editar mal -->
<div class="modal fadeIn aviso" id="avisoEventoEdiMal" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-bell"><span>Nofiticação</span></i>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br />
            <div class="modal-body" style="padding: 20px 40px 30px;">
                <div class="col-lg-12 text-center">
                    <p>Evento não foi editado com sucesso!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pop-up eliminar-->
<div class="modal fadeIn aviso" id="avisoEventoEdiEli" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-bell"><span>Nofiticação</span></i>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br />
            <div class="modal-body" style="padding: 20px 40px 30px;">
                <div class="col-lg-12 text-center">
                    <p>Evento eliminado com sucesso!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pop-up eliminar mal-->
<div class="modal fadeIn aviso" id="avisoEventoEdiEliMal" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-bell"><span>Nofiticação</span></i>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br />
            <div class="modal-body" style="padding: 20px 40px 30px;">
                <div class="col-lg-12 text-center">
                    <p>Evento não foi eliminado com sucesso!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../../controller/eventos.js"></script>
