<!-- Main Content -->
<div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <br />
        <h1 class="h3 mb-2 text-gray-800" style="font-weight:bold;">Gestão de eventos</h1>
        <br />

        <!-- Content Row -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex">
                <div class="mr-auto p-2"><h3 class="m-0 font-weight-bold" style="color:#FF4500;">Eventos</h3></div>
                <div class="p-2">
                    <a href="#" class="btn btn-success btn-icon-split" data-toggle="modal" data-target="#adicionar_evento">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus-circle"></i>
                        </span>
                        <span class="text">Adicionar</span>
                    </a>
                </div>
                <div class="p-2">
                    <a href="#" class="btn btn-warning btn-icon-split" data-toggle="modal" data-target="#editar_evento">
                        <span class="icon text-white-50">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="text">Editar</span>
                    </a>
                </div>
                <div class="p-2" id="eliminar_evento">
                    <a href="#" class="btn btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">Eliminar</span>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive" id="tabela_eventos" method="post">
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal adicionar evento -->
<div class="modal fadeIn gestaoEvento" id="adicionar_evento" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12 text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br />
                    <h1>Adicionar evento</h1>
                </div>
            </div>
            <div class="modal-body" style="padding: 40px 60px;">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <form id="formNewEvento" class="user text-center" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="nomeEvento" aria-describedby="" placeholder="Nome do evento">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="tipoEvento" placeholder="Tipo de evento">
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control form-control-user" id="inicioEvento" placeholder="Data de início">
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control form-control-user" id="fimEvento" placeholder="Data de fim">
                            </div>
                            <br />
                            <button type="submit" method="post" id="btEvento" class="btn btn-primary btn-user btn-block">Adicionar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal editar evento -->
<div class="modal fadeIn gestaoEvento" id="editar_evento" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12 text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br />
                    <h1>Editar evento</h1>
                </div>
            </div>
            <div class="modal-body" style="padding: 40px 60px;">
                <div class="row text-center">
                    <div class="col-lg-12 text-center">
                        <form id="formEditarEvento" class="user text-center" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="nomeEvento_edi" aria-describedby="" placeholder="Nome do evento">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="tipoEvento_edi" placeholder="Tipo de evento">
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control form-control-user" id="inicioEvento_edi" placeholder="Data de início">
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control form-control-user" id="fimEvento_edi" placeholder="Data de fim">
                            </div>
                            <br />
                            <button type="submit" id="btEvento" class="btn btn-primary btn-user btn-block">Editar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../../controller/eventos.js"></script>


<style>
    tr:hover {background-color: #D3D3D3}
</style>