<!-- Main Content -->
<div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <br />
        <h1 class="h3 mb-2 text-gray-800" style="font-weight:bold;">Gestão de relatórios</h1>
        <br />

        <!-- Content Row -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex">
                <div class="mr-auto p-2"><h3 class="m-0 font-weight-bold" style="color:#FF4500;">Relatórios</h3></div>
                <div class="p-2" id="downloadRelatorio">
                    <a href="#" class="btn btn-info btn-icon-split" data-toggle="modal" >
                        <span class="icon text-white-50">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </span>
                        <span class="text">Download</span>
                    </a>
                </div>
                <div class="p-2">
                    <a href="#" class="btn btn-success btn-icon-split" data-toggle="modal" data-target="#adicionar_relatorio">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus-circle"></i>
                        </span>
                        <span class="text">Adicionar</span>
                    </a>
                </div>
                <div class="p-2">
                    <a href="#" class="btn btn-warning btn-icon-split" data-toggle="modal" data-target="#editar_relatorio">
                        <span class="icon text-white-50">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="text">Editar</span>
                    </a>
                </div>
                <div class="p-2" id="eliminarRelatorio">
                    <a href="#" class="btn btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">Eliminar</span>
                    </a>
                </div>
            </div>
            <div class="card-body" method="post">
                <div class="table-responsive" id="tabela_relatorios" method="post">

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal adicionar relatorio -->
<div class="modal fadeIn gestaoRelatorio" id="adicionar_relatorio" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12 text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br />
                    <h1>Adicionar Relatório</h1>
                </div>
            </div>
            <div class="modal-body" style="padding: 40px 60px;">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="formNewRelatorio" class="user text-center" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="nome_relatorio" aria-describedby="" placeholder="Nome do relatorio">
                            </div>
                            <div class="form-group">
                                <input type="file" id="real-file" hidden="hidden" />
                                <button type="button" id="custom-button">Escolha um ficheiro</button>
                                <span id="custom-text">.pdf</span>
                            </div>
                            <br />
                            <button type="submit" method="post" class="btn btn-primary btn-user btn-block btRelatorio">Adicionar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal editar relatorio -->
<div class="modal fadeIn gestaoRelatorio" id="editar_relatorio" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12 text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br />
                    <h1>Editar Relatório</h1>
                </div>
            </div>
            <div class="modal-body" style="padding: 40px 60px;">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="formEditarRelatorio" class="user text-center" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="nomeRelatorio_edi" aria-describedby="" placeholder="Nome do relatório">
                            </div>
                            <div class="form-group">
                                <input type="file" id="real-file-editar" hidden="hidden" />
                                <button type="button" id="custom-button-editar">Escolha um ficheiro</button>
                                <span id="custom-text-editar">.pdf</span>
                            </div>
                            <br />
                            <button type="submit" class="btn btn-primary btn-user btn-block btRelatorio">Editar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--PDF adicionar relatorio-->
<script type="text/javascript">
    const realFileBtn = document.getElementById("real-file");
    const customBtn = document.getElementById("custom-button");
    const customTxt = document.getElementById("custom-text");

    customBtn.addEventListener("click", function () {
        realFileBtn.click();
    });

    realFileBtn.addEventListener("change", function () {
        if (realFileBtn.value) {
            customTxt.innerHTML = realFileBtn.value.match(
                /[\/\\]([\w\d\s\.\-\(\)]+)$/
            )[1];
        } else {
            customTxt.innerHTML = "No file chosen, yet.";
        }
    });
</script>

<!--PDF editar relatorio-->
<script type="text/javascript">
    const realFileBtnEditar = document.getElementById("real-file-editar");
    const customBtnEditar = document.getElementById("custom-button-editar");
    const customTxtEditar = document.getElementById("custom-text-editar");

    customBtnEditar.addEventListener("click", function () {
        realFileBtnEditar.click();
    });

    realFileBtnEditar.addEventListener("change", function () {
        if (realFileBtnEditar.value) {
            customTxtEditar.innerHTML = realFileBtnEditar.value.match(
                /[\/\\]([\w\d\s\.\-\(\)]+)$/
            )[1];
        } else {
            customTxtEditar.innerHTML = "No file chosen, yet.";
        }
    });
</script>

<script type="text/javascript" src="../../../controller/relatorios.js"></script>


