<!-- Main Content -->
<div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <br />
        <h1 class="h3 mb-2 text-gray-800" style="font-weight:bold;">Gestão de relatórios</h1>
        <br />

        <!-- Content Row -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex">
                <div class="mr-auto p-2"><h3 class="m-0 font-weight-bold" style="color:#FF4500;">Relatórios</h3></div>
                <div class="p-2" id="downloadRelatorio">
                    <a href="#" class="btn btn-info btn-icon-split" data-toggle="modal">
                        <span class="icon text-white-50">
                            <i class="fas fa-eye" aria-hidden="true"></i>
                        </span>
                        <span class="text">Visualizar documento</span>
                    </a>
                </div>
                <div class="p-2">
                    <a href="#" class="btn btn-success btn-icon-split" data-toggle="modal" data-target="#doc">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus-circle" aria-hidden="true"></i>
                        </span>
                        <span class="text">Adicionar documento</span>
                    </a>
                </div>
                <div class="p-2">
                    <a href="#" class="btn btn-success btn-icon-split" data-toggle="modal" data-target="#adicionar_relatorio">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus-circle"></i>
                        </span>
                        <span class="text">Adicionar</span>
                    </a>
                </div>
                <div class="p-2">
                    <a href="#" class="btn btn-warning btn-icon-split" data-toggle="modal" data-target="#editar_relatorio">
                        <span class="icon text-white-50">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="text">Editar</span>
                    </a>
                </div>
                <div class="p-2" id="eliminarRelatorio">
                    <a href="#" class="btn btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">Eliminar</span>
                    </a>
                </div>
            </div>
            <div class="card-body" method="post">
                <div class="table-responsive" id="tabela_relatorios" method="post">

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal adicionar relatorio -->
<div class="modal fadeIn gestaoRelatorio" id="adicionar_relatorio" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12 text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br />
                    <h1>Adicionar Relatório</h1>
                </div>
            </div>
            <div class="modal-body" style="padding: 40px 60px;">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="formNewRelatorio" enctype="multipart/form-data" class="user text-center" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="nome_relatorio" aria-describedby="" placeholder="Nome do relatorio">
                            </div>
                            <div class="form-group">
                                <select class="form-control form-control-user" data-live-search="true" id="area_conhecimento">
                                    <option value="" disabled selected>Área de Conhecimento</option>
                                    <option value="Gestão do Âmbito">Gestão do Âmbito</option>
                                    <option value="Gestão de Aquisições">Gestão de Aquisições</option>
                                    <option value="Gestão da Comunicação">Gestão da Comunicação</option>
                                    <option value="Gestão do Cronograma">Gestão do Cronograma</option>
                                    <option value="Gestão do Custo">Gestão do Custo</option>
                                    <option value="Gestão da Integração">Gestão da Integração</option>
                                    <option value="Gestão da Qualidade">Gestão da Qualidade</option>
                                    <option value="Gestão dos Recursos">Gestão dos Recursos</option>
                                    <option value="Gestão de Riscos">Gestão de Riscos</option>
                                    <option value="Gestão dos Stakeholders">Gestão dos Stakeholders</option>
                                </select>
                            </div>
                            <br />
                            <button type="submit" class="btn btn-primary btn-user btn-block" id="btRelatorio">Adicionar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal editar relatorio -->
<div class="modal fadeIn gestaoRelatorio" id="editar_relatorio" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12 text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br />
                    <h1>Editar Relatório</h1>
                </div>
            </div>
            <div class="modal-body" style="padding: 40px 60px;">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="formEditarRelatorio" class="user text-center" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="nomeRelatorio_edi" aria-describedby="" placeholder="Nome do relatório">
                            </div>
                            <div class="form-group">
                                <select class="form-control form-control-user" data-live-search="true" id="area_conhecimento_edi">
                                    <option value="" disabled selected>Área de Conhecimento</option>
                                    <option value="Gestão do Âmbito">Gestão do Âmbito</option>
                                    <option value="Gestão de Aquisições">Gestão de Aquisições</option>
                                    <option value="Gestão da Comunicação">Gestão da Comunicação</option>
                                    <option value="Gestão do Cronograma">Gestão do Cronograma</option>
                                    <option value="Gestão do Custo">Gestão do Custo</option>
                                    <option value="Gestão da Integração">Gestão da Integração</option>
                                    <option value="Gestão da Qualidade">Gestão da Qualidade</option>
                                    <option value="Gestão dos Recursos">Gestão dos Recursos</option>
                                    <option value="Gestão de Riscos">Gestão de Riscos</option>
                                    <option value="Gestão dos Stakeholders">Gestão dos Stakeholders</option>
                                </select>
                            </div>
                            <br />
                            <button type="submit" class="btn btn-primary btn-user btn-block" id="btRelatorio">Editar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Adicionar documento-->
<div class="modal fadeIn gestaoRelatorio" id="doc" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12 text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br />
                    <h1>Adicionar documento</h1>
                </div>
            </div>
            <div class="modal-body" style="padding: 40px 60px;">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="formNewRelatorio" enctype="multipart/form-data" action="/" class="user text-center" method="post">
                            <div class="form-group">
                                <input type="file" name="file" id="file" />
                                <span>(apenas ficheiros em formato pdf)</span>
                            </div>
                            <br />
                            <button type="submit" value="upload" class="btn btn-primary btn-user btn-block" id="btRelatorio">Adicionar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pop-up adicionar -->
<div class="modal fadeIn aviso" id="avisoRelatorioAdd" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-bell"><span>Notificação</span></i>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br />
            <div class="modal-body" style="padding: 20px 40px 30px;">
                <div class="col-lg-12 text-center">
                    <p>Relatório adicionado com sucesso!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pop-up adicionar mal -->
<div class="modal fadeIn aviso" id="avisoRelatorioAddMal" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-bell"><span>Notificação</span></i>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br />
            <div class="modal-body" style="padding: 20px 40px 30px;">
                <div class="col-lg-12 text-center">
                    <p>Relatório não foi adicionado com sucesso!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pop-up editar -->
<div class="modal fadeIn aviso" id="avisoRelatorioEdi" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-bell"><span>Notificação</span></i>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br />
            <div class="modal-body" style="padding: 20px 40px 30px;">
                <div class="col-lg-12 text-center">
                    <p>Relatório editado com sucesso!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pop-up editar mal -->
<div class="modal fadeIn aviso" id="avisoRelatorioEdiMal" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-bell"><span>Notificação</span></i>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br />
            <div class="modal-body" style="padding: 20px 40px 30px;">
                <div class="col-lg-12 text-center">
                    <p>Relatório não foi editado com sucesso!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pop-up eliminar-->
<div class="modal fadeIn aviso" id="avisoRelatorioEli" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-bell"><span>Notificação</span></i>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br />
            <div class="modal-body" style="padding: 20px 40px 30px;">
                <div class="col-lg-12 text-center">
                    <p>Relatório eliminado com sucesso!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pop-up eliminar mal-->
<div class="modal fadeIn aviso" id="avisoRelatorioEliMal" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-bell"><span>Notificação</span></i>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br />
            <div class="modal-body" style="padding: 20px 40px 30px;">
                <div class="col-lg-12 text-center">
                    <p>Relatório não foi eliminado com sucesso!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../../controller/relatorios.js"></script>


