<!-- Main Content -->
<div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <br />
        <h1 class="h3 mb-2 text-gray-800" style="font-weight:bold;">Gestão de Utilizadores</h1>
        <br />

        <!-- Content Row -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex">
                <div class="mr-auto p-2"><h3 class="m-0 font-weight-bold" style="color:#FF4500;">Utilizadores</h3></div>
                <div class="p-2">
                    <a href="#" class="btn btn-warning btn-icon-split" data-toggle="modal" data-target="#editar_utilizador">
                        <span class="icon text-white-50">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="text">Editar</span>
                    </a>
                </div>
                <div class="p-2" id="eliminar_utilizador">
                    <a href="#" class="btn btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">Eliminar</span>
                    </a>
                </div>
            </div>
            <div class="card-body" method="post">
                <div class="table-responsive" id="tabela_utilizador" method="post">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal editar utilizador -->
<div class="modal fadeIn gestaoUtilizador" id="editar_utilizador" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12 text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br />
                    <h1>Editar Utilizador</h1>
                </div>
            </div>
            <div class="modal-body" style="padding: 40px 60px;">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="formEditarUtilizador" class="user text-center" method="post">
                            <div class="form-group">
                                <select class="form-control form-control-user" data-live-search="true" id="profissao" onchange="checkProfissao(this);">
                                    <option value="" disabled selected>Profissão</option>
                                    <option value="Empresa">Empresa</option>
                                    <option value="Gestor de Projetos">Gestor de Projetos</option>
                                    <option value="Professor/Investigador">Professor/Investigador</option>
                                    <option value="Estudante">Estudante</option>
                                </select>
                            </div>
                            <!--Escolha de opções Profissão-->
                            <!--Empresa-->
                            <div id="Empresa" style="display: none;">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="ramoEp" aria-describedby="" placeholder="Ramo Empresarial">
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control form-control-user" id="nEmpregados" aria-describedby="" placeholder="Nº de empregados">
                                </div>
                                <div class="form-group">
                                    <select class="form-control form-control-user" data-live-search="true" id="regiao">
                                        <option value="" disabled selected>Região do país</option>
                                        <option value="Alentejo">Alentejo</option>
                                        <option value="Algarve">Algarve</option>
                                        <option value="Beira Interior">Beira Interior</option>
                                        <option value="Beira Litoral">Beira Litoral</option>
                                        <option value="Entre Douro e Minho">Entre Douro e Minho</option>
                                        <option value="Ribatejo e Oeste">Ribatejo e Oeste</option>
                                        <option value="Região Autónoma dos Açores">Região Autónoma dos Açores</option>
                                        <option value="Região Autónoma da Madeira">Região Autónoma da Madeira</option>
                                    </select>
                                </div>
                            </div>
                            <!--Gestor de Projetos-->
                            <div id="GP" style="display: none;">
                                <div class="form-group text-center">
                                    <label>Trabalha numa PME?</label><br />
                                    <input type="checkbox" class="custom-checkbox" value="simPME" onclick="checkPME(this);"><label class="custom-label">Sim</label>
                                    <input type="checkbox" class="custom-checkbox"><label class="custom-label">Não</label><br />
                                </div>

                                <div id="gpPME" style="display:none;">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" id="ramoEp" aria-describedby="" placeholder="Ramo Empresarial">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control form-control-user" id="nEmpregados" aria-describedby="" placeholder="Nº de empregados">
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control form-control-user" data-live-search="true" id="regiao">
                                            <option value="" disabled selected>Região do país</option>
                                            <option value="Alentejo">Alentejo</option>
                                            <option value="Algarve">Algarve</option>
                                            <option value="Beira Interior">Beira Interior</option>
                                            <option value="Beira Litoral">Beira Litoral</option>
                                            <option value="Entre Douro e Minho">Entre Douro e Minho</option>
                                            <option value="Ribatejo e Oeste">Ribatejo e Oeste</option>
                                            <option value="Região Autónoma dos Açores">Região Autónoma dos Açores</option>
                                            <option value="Região Autónoma da Madeira">Região Autónoma da Madeira</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--Professor/Investigador-->
                            <div id="PI" style="display: none;">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="area" aria-describedby="" placeholder="Área Científica">
                                </div>
                            </div>
                            <!--Estudante-->
                            <div id="Estudante" style="display: none;">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="estudo" aria-describedby="" placeholder="Ciclo de Estudo">
                                </div>
                            </div>
                            <!--Fim da escolha de profissões-->
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="nome" aria-describedby="" placeholder="Nome">
                            </div>
                            <div class="form-group" id="idadeDiv">
                                <input type="number" class="form-control form-control-user" id="idade" aria-describedby="" placeholder="Idade">
                            </div>
                            <div class="form-group" id="generoDiv">
                                <select class="form-control form-control-user" data-live-search="true" id="genero">
                                    <option value="" disabled selected>Género</option>
                                    <option value="Male">Masculino</option>
                                    <option value="Female">Feminino</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="email" aria-describedby="email" placeholder="E-mail">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user" id="password" aria-describedby="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user" id="cpassword" aria-describedby="password" placeholder="Confirmação de password">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control form-control-user" id="descricao" name="message" rows="5" cols="30" placeholder="Pequeno texto de apresentação pessoal"></textarea>
                            </div>
                            <br />
                            <button type="submit" class="btn btn-primary btn-user btn-block btUtilizador">Editar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Check escolhas profissões-->
<script type="text/javascript">
    function checkProfissao(that) {
        if (that.value == "Empresa") {
            document.getElementById("Empresa").style.display = "block";
            document.getElementById("idadeDiv").style.display = "none";
            document.getElementById("generoDiv").style.display = "none";
            document.getElementById("GP").style.display = "none";
            document.getElementById("PI").style.display = "none";
            document.getElementById("Estudante").style.display = "none";
        } else if (that.value == "Gestor de Projetos") {
            document.getElementById("Empresa").style.display = "none";
            document.getElementById("idadeDiv").style.display = "block";
            document.getElementById("generoDiv").style.display = "block";
            document.getElementById("GP").style.display = "block";
            document.getElementById("PI").style.display = "none";
            document.getElementById("Estudante").style.display = "none";
        } else if (that.value == "Professor/Investigador") {
            document.getElementById("Empresa").style.display = "none";
            document.getElementById("idadeDiv").style.display = "block";
            document.getElementById("generoDiv").style.display = "block";
            document.getElementById("GP").style.display = "none";
            document.getElementById("PI").style.display = "block";
            document.getElementById("Estudante").style.display = "none";
        } else if (that.value == "Estudante") {
            document.getElementById("Empresa").style.display = "none";
            document.getElementById("idadeDiv").style.display = "block";
            document.getElementById("generoDiv").style.display = "block";
            document.getElementById("GP").style.display = "none";
            document.getElementById("PI").style.display = "none";
            document.getElementById("Estudante").style.display = "block";
        }
        else {
            document.getElementById("Empresa").style.display = "none";
            document.getElementById("GP").style.display = "none";
            document.getElementById("PI").style.display = "none";
            document.getElementById("Estudante").style.display = "none";
        }
    }
</script>

<!--Check GP-->
<script type="text/javascript">
    function checkPME(that) {
        if (that.value == "simPME" && that.checked) {
            document.getElementById("gpPME").style.display = "block";
        } else {
            document.getElementById("gpPME").style.display = "none";
        }
    }
</script>

<script type="text/javascript" src="../../../controller/registo.js"></script>