<link href="../css/layout.bar.css" rel="stylesheet" type="text/css" />

    <!--========== PAGE LAYOUT ==========-->
    <!-- Forum -->
    <!--div style="background-image: url('./img/1920x1080/long01.png');"-->
    <!--div style="background-color: #a6a7aa; margin-top: 90px;"-->
    <div id="about" class ="bg-color-sky-light" style="margin-top: 100px;">
        <div class="row">
            <h1 class="col-md-4" style="margin-left:170px; margin-top: 70px; margin-bottom: 30px">Eventos</h1>
            <div class="tipo-evento" align="right">
                <select id="eventos"></select>
                <select id="area"></select>
            </div>
        </div>

        <div class="container cta-80" align="center">
            <div class="row" style="margin-bottom:80px">
                <div class="col-md-3" style="margin-right:6em">
                    <div class="item-box-blog-image">
                        <!--Date-->
                        <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Data</span> </div>
                        <!--Image-->
                        <div class="crop">
                            <img class="img-responsive" src="./img/carousel/101.png" alt="">
                        </div>
                    </div>
                    <div class="item-box-blog-body">
                        <!--Heading-->
                        <div class="item-box-blog-heading">
                            <a href="#" tabindex="0">
                                <h5>ENEI</h5>
                            </a>
                        </div>
                        <div class="mt"> <a data-toggle="modal" data-target="#myModal" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                        <!--Read More Button-->
                    </div>
                </div>
                <div class="col-md-3" style="margin-right:6em">
                    <div class="item-box-blog-image">
                        <!--Date-->
                        <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                        <!--Image-->
                        <div class="crop">
                            <figure> <img alt="" src="./img/carousel/102.jpg"> </figure>
                        </div>
                    </div>
                    <div class="item-box-blog-body">
                        <!--Heading-->
                        <div class="item-box-blog-heading">
                            <a href="#" tabindex="0">
                                <h5>Start Point</h5>
                            </a>
                        </div>
                        <div class="mt"> <a data-toggle="modal" data-target="#myModal" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                        <!--Read More Button-->
                    </div>
                </div>
                <div class="col-md-3" style="margin-right:6em">
                    <div class="item-box-blog-image">
                        <!--Date-->
                        <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                        <!--Image-->
                        <div class="crop">
                            <figure> <img alt="" src="./img/carousel/103.jpg"> </figure>
                        </div>
                    </div>
                    <div class="item-box-blog-body">
                        <!--Heading-->
                        <div class="item-box-blog-heading">
                            <a href="#" tabindex="0">
                                <h5>Feira de Voluntariado</h5>
                            </a>
                        </div>
                        <!--Text-->
                        <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                        <!--Read More Button-->
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:70px">
                <div class="col-md-3" style="margin-right:5em">
                    <div class="item-box-blog-image">
                        <!--Date-->
                        <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                        <!--Image-->
                        <div class="crop">
                            <figure> <img alt="" src="./img/carousel/104.jpg"> </figure>
                        </div>
                    </div>
                    <div class="item-box-blog-body">
                        <!--Heading-->
                        <div class="item-box-blog-heading">
                            <a href="#" tabindex="0">
                                <h5>TSI2Market</h5>
                            </a>
                        </div>
                        <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                        <!--Read More Button-->
                    </div>
                </div>
                <div class="col-md-3" style="margin-right:6em">
                    <div class="item-box-blog-image">
                        <!--Date-->
                        <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                        <!--Image-->
                        <div class="crop">
                            <figure> <img alt="" src="./img/carousel/101.png"> </figure>
                        </div>
                    </div>
                    <div class="item-box-blog-body">
                        <!--Heading-->
                        <div class="item-box-blog-heading">
                            <a href="#" tabindex="0">
                                <h5>Start Point</h5>
                            </a>
                        </div>
                        <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                        <!--Read More Button-->
                    </div>
                </div>
                <div class="col-md-3" style="margin-right:6em">
                    <div class="item-box-blog-image">
                        <!--Date-->
                        <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                        <!--Image-->
                        <div class="crop">
                            <figure> <img alt="" src="./img/carousel/102.jpg"> </figure>
                        </div>
                    </div>
                    <div class="item-box-blog-body">
                        <!--Heading-->
                        <div class="item-box-blog-heading">
                            <a href="#" tabindex="0">
                                <h5>Feira de Voluntariado</h5>
                            </a>
                        </div>
                        <!--Text-->
                        <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                        <!--Read More Button-->
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:70px">
                <div class="col-md-3" style="margin-right:5em">
                    <div class="item-box-blog-image">
                        <!--Date-->
                        <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                        <!--Image-->
                        <div class="crop">
                            <figure> <img alt="" src="./img/carousel/103.jpg"> </figure>
                        </div>
                    </div>
                    <div class="item-box-blog-body">
                        <!--Heading-->
                        <div class="item-box-blog-heading">
                            <a href="#" tabindex="0">
                                <h5>TSI2Market</h5>
                            </a>
                        </div>
                        <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                        <!--Read More Button-->
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!--Notícias-->
        <!--div style="background-color:#a6a7aa; margin-right: 80px; margin-left: 60px;"-->
        <div style="margin-top:30px; background-color: white; margin-left: 60px; margin-right: 80px; margin-bottom: 30px;">
            <div class="row">
                <h1 class="col-md-4" style="margin-left:170px; margin-top: 70px; margin-bottom: 30px;">Noticias</h1>
                <div class="tipo-evento" style="margin-top:85px;" align="right">
                    <select id="area2"></select>
                </div>
            </div>

            <div class="container cta-80" align="center">
                <div class="row" style="margin-bottom:80px">
                    <div class="col-md-3" style="margin-right:6em">
                        <div class="item-box-blog-image">
                            <!--Date-->
                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Data</span> </div>
                            <!--Image-->
                            <div class="crop">
                                <img class="img-responsive" src="./img/carousel/101.png" alt="">
                            </div>
                        </div>
                        <div class="item-box-blog-body">
                            <!--Heading-->
                            <div class="item-box-blog-heading">
                                <a href="#" tabindex="0">
                                    <h5>ENEI</h5>
                                </a>
                            </div>
                            <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                            <!--Read More Button-->
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-right:6em">
                        <div class="item-box-blog-image">
                            <!--Date-->
                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                            <!--Image-->
                            <div class="crop">
                                <figure> <img alt="" src="./img/carousel/102.jpg"> </figure>
                            </div>
                        </div>
                        <div class="item-box-blog-body">
                            <!--Heading-->
                            <div class="item-box-blog-heading">
                                <a href="#" tabindex="0">
                                    <h5>Start Point</h5>
                                </a>
                            </div>
                            <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                            <!--Read More Button-->
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-right:6em">
                        <div class="item-box-blog-image">
                            <!--Date-->
                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                            <!--Image-->
                            <div class="crop">
                                <figure> <img alt="" src="./img/carousel/103.jpg"> </figure>
                            </div>
                        </div>
                        <div class="item-box-blog-body">
                            <!--Heading-->
                            <div class="item-box-blog-heading">
                                <a href="#" tabindex="0">
                                    <h5>Feira de Voluntariado</h5>
                                </a>
                            </div>
                            <!--Text-->
                            <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                            <!--Read More Button-->
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:70px">
                    <div class="col-md-3" style="margin-right:5em">
                        <div class="item-box-blog-image">
                            <!--Date-->
                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                            <!--Image-->
                            <div class="crop">
                                <figure> <img alt="" src="./img/carousel/104.jpg"> </figure>
                            </div>
                        </div>
                        <div class="item-box-blog-body">
                            <!--Heading-->
                            <div class="item-box-blog-heading">
                                <a href="#" tabindex="0">
                                    <h5>TSI2Market</h5>
                                </a>
                            </div>
                            <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                            <!--Read More Button-->
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-right:6em">
                        <div class="item-box-blog-image">
                            <!--Date-->
                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                            <!--Image-->
                            <div class="crop">
                                <figure> <img alt="" src="./img/carousel/101.png"> </figure>
                            </div>
                        </div>
                        <div class="item-box-blog-body">
                            <!--Heading-->
                            <div class="item-box-blog-heading">
                                <a href="#" tabindex="0">
                                    <h5>Start Point</h5>
                                </a>
                            </div>
                            <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                            <!--Read More Button-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--/div>
</div-->
    <!--========== END PAGE LAYOUT ==========-->
    <!--========== MODAL ==========-->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Nome do Evento</h4>
                </div>
                <div class="row">
                    <figure class="crop-modal" align="center"> <img alt="" src="./img/carousel/101.png"> </figure>
                    <div class="modal-body">
                        <p>
                            Descrição: A imagem podia ficar à esquerda e a descrição em vez de ficar em baixo podia ficar do lado direito.
                            A experimentar.
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!--========== END FOOTER ==========-->
    <!-- dropdown -->
    <script>
        function menu() {
            var x = document.getElementById("menu");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        };

        function menu2() {
            var x = document.getElementById("menu2");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        };

        /*tipo eventos*/
        var options = "";
        options += "<option>" + "Todos os Eventos" + "</option>";
        options += "<option>" + "Workshop" + "</option>";
        options += "<option>" + "Palestra" + "</option>";
        options += "<option>" + "Feira de Emprego" + "</option>";
        options += "<option>" + "Voluntariado" + "</option>";
        document.getElementById("eventos").innerHTML = options;
        /*fim tipo eventos*/

        /*area eventos*/
        var options = "";
        options += "<option>" + "Todos as Areas" + "</option>";
        options += "<option>" + "Gestão da Integração" + "</option>";
        options += "<option>" + "Gestão do Cronograma" + "</option>";
        options += "<option>" + "Gestão de Custo" + "</option>";
        options += "<option>" + "Gestão de Qualidade" + "</option>";
        options += "<option>" + "Gestão de Recursos" + "</option>";
        options += "<option>" + "Gestão de Comunicação" + "</option>";
        options += "<option>" + "Gestão de Riscos" + "</option>";
        options += "<option>" + "Gestão de Aquisições" + "</option>";
        options += "<option>" + "Gestão de Stakeholders" + "</option>";
        document.getElementById("area").innerHTML = options;
        document.getElementById("area2").innerHTML = options;
        /*fim area eventos*/
    </script>
