<link rel="stylesheet" href="../css/carousel.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="carousel-inner" role="listbox">
    <div style=" width: 100%">
        <img class="img-responsive" src="./img/1920x1080/010.jpg" alt="Slider Image">
        <div class="container">
            <div class="carousel-centered">
                <div class="margin-b-40">
                    <h1 class="carousel-title animated delay-1s fadeInLeft">HelP PME Projects</h1>
                    <p class="color-white animated delay-1s fadeInRight">A project of the development of an interactive platform to support <br /> project management practices in small and medium-sized companies.</p>
                </div>
                <a href="#sobre" class="btn-theme btn-theme-sm btn-white-brd text-uppercase animated delay-1s fadeInUp">About Us</a>
            </div>
        </div>
    </div>
</div>
<!--========== PAGE LAYOUT ==========-->
<!-- Forum -->
<div id="about">
    <!-- ______________________Carousel______________________ -->
    <!--div style="background-color:#bfbfbf;"-->
    <!--div style="background-image: url('../img/1920x1080/long01.png');"-->
    <h2 style="margin-top: 90px;"></h2>
    <div data-ride="carousel">
        <div class="container cta-80">
            <div class="row blog">
                <div class="col-md-12">
                    <!--div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
                       <ol class="carousel-next">
                           <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                           <li data-target="#blogCarousel" data-slide-to="1"></li>
                       </ol>
                       </div-->
                    <div class="carousel-inner" role="listbox">
                        <div id="slide1" class="item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Date</span> </div>
                                            <!--Image-->
                                            <div class="crop">
                                                <img class="img-responsive" src="./img/carousel/101.png" alt="">
                                            </div>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5>ENEI</h5>
                                                </a>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                            <!--Image-->
                                            <div class="crop">
                                                <img class="img-responsive" src="./img/carousel/102.jpg">
                                            </div>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5>Start Point</h5>
                                                </a>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                            <!--Image-->
                                            <div class="crop">
                                                <img class="img-responsive" src="./img/carousel/103.jpg">
                                            </div>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5>Feira de Voluntariado</h5>
                                                </a>
                                            </div>
                                            <!--Text-->
                                            <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="slide2" class="item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                            <!--Image-->
                                            <div class="crop">
                                                <figure> <img alt="" src="./img/carousel/103.jpg"> </figure>
                                            </div>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5>Feira de Voluntariado</h5>
                                                </a>
                                            </div>
                                            <!--Text-->
                                            <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                            <!--Image-->
                                            <div class="crop">
                                                <figure> <img alt="" src="./img/carousel/104.jpg"> </figure>
                                            </div>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5>TSI2Market</h5>
                                                </a>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                            <!--Image-->
                                            <div class="crop">
                                                <figure> <img alt="" src="./img/carousel/102.jpg"> </figure>
                                            </div>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5>Start Point</h5>
                                                </a>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="blogCarousel"></div>
    <!-- ______________________/Carousel______________________ -->

    <div class="bg-color-sky-light">
        <div class="content-lg container">
            <h1 align="center">Forum</h1>
            <div class="row">
                <div class="col-md-3 col-sm-7 col-md-offset-0">
                    <!-- Accordion -->
                    <div class="accordion">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <h2 style="font-size: 24px;">Areas of expertise</h2>
                            <div class="panel panel-default" style="height: 60px">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 style="font-size: 15px">
                                        <a class="collapsed panel-title-child" role="button" onclick="getAreaConhecimento(1)" data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="false" aria-controls="collapseTwo">
                                            <i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="modal" data-target="#ref" onclick="showRef('GA')" style="margin-right: 10px;"></i>
                                            Scope Management
                                            <p id="gCronograma" class="text-center" style="color:#81848f; font-weight:bold"></p>
                                        </a>
                                    </h4>
                                </div>
                                <a id="collapse"></a>
                            </div>
                            <div class="panel panel-default" style="height: 60px;">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 style="font-size: 15px">
                                        <div>
                                            <a class="collapsed panel-title-child" role="button" onclick="getAreaConhecimento(6)" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true">
                                                <i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="modal" data-target="#ref" onclick="showRef('GI')" style="margin-right: 10px;"></i>
                                                Integration Management
                                                <p id="gIntegracao" class="text-center" style="color:#81848f; font-weight:bold"></p>
                                            </a>
                                    </h4>
                                </div>
                                <a id="collapse1"></a>
                            </div>
                            <div class="panel panel-default" style="height: 60px">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 style="font-size: 15px">
                                        <a class="collapsed panel-title-child" role="button" onclick="getAreaConhecimento(4)" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapseTwo">
                                            <i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="modal" data-target="#ref" onclick="showRef('GC')" style="margin-right: 10px;"></i>
                                            Schedule Management
                                            <p id="gCronograma" class="text-center" style="color:#81848f; font-weight:bold"></p>
                                        </a>
                                    </h4>
                                </div>
                                <a id="collapse2"></a>
                            </div>
                            <div class="panel panel-default" style="height: 60px">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 style="font-size: 15px">
                                        <a class="collapsed panel-title-child" role="button" onclick="getAreaConhecimento(5)" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="modal" data-target="#ref" onclick="showRef('GCU')" style="margin-right: 10px;"></i>
                                            Cost Management
                                            <p id="gCusto" class="text-center" style="color:#81848f; font-weight:bold"></p>
                                        </a>
                                    </h4>
                                </div>
                                <a id="collapse3"></a>
                            </div>
                            <div class="panel panel-default" style="height: 60px">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 style="font-size: 15px">
                                        <a class="collapsed panel-title-child" role="button" onclick="getAreaConhecimento(7)" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="modal" data-target="#ref" onclick="showRef('GQ')" style="margin-right: 10px;"></i>
                                            Quality management
                                            <p id="gQualidade" class="text-center" style="color:#81848f; font-weight:bold"></p>
                                        </a>
                                    </h4>
                                </div>
                                <a id="collapse4"></a>
                            </div>
                            <div class="panel panel-default" style="height: 60px">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 style="font-size: 15px">
                                        <a class="collapsed panel-title-child" role="button" onclick="getAreaConhecimento(8)" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="modal" data-target="#ref" onclick="showRef('GR')" style="margin-right: 10px;"></i>
                                            Resource management
                                            <p id="gRecursos" class="text-center" style="color:#81848f; font-weight:bold"></p>
                                        </a>
                                    </h4>
                                </div>
                                <a id="collapse5"></a>
                            </div>
                            <div class="panel panel-default" style="height: 60px">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 style="font-size: 15px">
                                        <a class="collapsed panel-title-child" role="button" onclick="getAreaConhecimento(3)" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="modal" data-target="#ref" onclick="showRef('GCO')" style="margin-right: 10px;"></i>
                                            Communication Management
                                            <p id="gComunicacao" class="text-center" style="color:#81848f; font-weight:bold"></p>
                                        </a>
                                    </h4>
                                </div>
                                <a id="collapse6"></a>
                            </div>
                            <div class="panel panel-default" style="height: 60px">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 style="font-size: 15px">
                                        <a class="collapsed panel-title-child" role="button" onclick="getAreaConhecimento(9)" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="modal" data-target="#ref" onclick="showRef('GRI')" style="margin-right: 10px;"></i>
                                            Risk management
                                            <p id="gRiscos" class="text-center" style="color:#81848f; font-weight:bold"></p>
                                        </a>
                                    </h4>
                                </div>
                                <a id="collapse7"></a>
                            </div>
                            <div class="panel panel-default" style="height: 60px">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 style="font-size: 15px">
                                        <a class="collapsed panel-title-child" role="button" onclick="getAreaConhecimento(2)" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="modal" data-target="#ref" onclick="showRef('GAQ')" style="margin-right: 10px;"></i>
                                            Acquisition Management
                                            <p id="gAquisicoes" class="text-center" style="color:#81848f; font-weight:bold"></p>
                                        </a>
                                    </h4>
                                </div>
                                <a id="collapse8"></a>
                            </div>
                            <div class="panel panel-default" style="height: 60px">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 style="font-size: 15px">
                                        <a class="collapsed panel-title-child" role="button" onclick="getAreaConhecimento(10)" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="modal" data-target="#ref" onclick="showRef('GS')" style="margin-right: 10px;"></i>
                                            Stakeholder Management
                                            <p id="gStakeholders" class="text-center" style="color:#81848f; font-weight:bold"></p>
                                        </a>
                                    </h4>
                                </div>
                                <a id="collapse9"></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Accodrion -->
                </div>
                <div class="col-md-9 col-sm-5 md-margin-b-60">
                    <div class="margin-t-0 margin-b-10">
                        <h2 style="font-size: 24px;">Questions</h2>
                        <div id="perguntas_forum"></div>
                    </div>
                    <div id="page"></div>
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
    <!-- End Forum -->
    <!--/sobre nos-->
    <div id="sobre">
        <div class="content-lg container">
            <h1 align="center">About Us</h1>
            <div class="row">
                <div class="col-md-5 col-sm-5 md-margin-b-60">
                    <div class="margin-t-50 margin-b-30">
                        <h2>Help us and send an improvement suggestion!</h2>
                        <form id="formSugestao" method="post">
                            <div class="form-group">
                                <textarea class="form-control form-control-user" style="border-color: chocolate;" id="sugestao" name="message" rows="5" cols="30" placeholder=""></textarea>
                            </div>
                    </div>
                    <button type="submit" id="AddSugestao" class="btn-theme btn-theme-sm btn-white-bg text-uppercase" method="post">Send Sugestion</button>
                </div>
                </form>
                <div class="col-md-5 col-sm-7 col-md-offset-2">
                    <!-- Accordion -->
                    <div class="accordion">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a class="collapsed panel-title-child fa fa-caret-up" onclick="hideAr(this)" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            History of the site
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        HELP PME PROJECTS is a platform developed within the scope of a  dissertation of the Master’s in Engineering Project Management at the University of Minho. The development team is a group of students who are part of the Integrated Master in Information System Management at the University of Minho.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed panel-title-child fa fa-caret-down" onclick="hideAr(this)" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Values
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        Excellence – we look to share knowledge in a simpler and more innovative way.
                                        Trust – the most experienced project managers are the engine of the platform.
                                        Ambition – we look to improve the success of Portuguese SMEs.

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed panel-title-child fa fa-caret-down" onclick="hideAr(this)" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Mission and Vision
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        HELP PME PROJECTS mission's is to support Portuguese SMEs and to generate a positive impact on society, contributing to the adoption and improvement of Project Management practices by Portuguese SMEs.
                                        The HELP PME PROJECTS vision is to become a reference platform in Portugal in the area of Project Management.
                                        The HELP PME PROJECTS purpose is to contribute to the improvement of project management practices, by supporting SME project managers, students, and other potential users.

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Accodrion -->
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
</div>
<!--/sobre nos-->
<!--Modal Ref-->
<div class="modal fadeIn" id="ref" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12 text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br />
                    <h1>References</h1>
                </div>
            </div>
            <div class="modal-body" style="padding: 40px 60px;">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="info"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fim Modal ref-->

<div class="modal fadeIn gestaoEvento" id="add_pergunta" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12 text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br />
                    <h1>Add Question</h1>
                </div>
            </div>
            <div class="modal-body" style="padding: 40px 60px;">
                <div class="row text-center">
                    <div class="col-lg-12 text-center">
                        <form id="formNewPergunta" class="user text-center" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="per_are" aria-describedby="" placeholder="Area de Conhecimento">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="tit_pergunta" placeholder="Pergunta">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control form-control-user" id="descricao" name="message" rows="5" cols="30" placeholder="Descrição do problema"></textarea>
                            </div>
                            <br />
                            <button type="submit" id="btPergunta" class="btn btn-primary btn-user btn-block">Add Question</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pop-up adicionar -->
<div class="modal fadeIn aviso" id="avisoSugestaoAdd" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="glyphicon glyphicon-bell"><span>Notification</span></i>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br />
            <div class="modal-body" style="padding: 20px 40px 30px;">
                <div class="col-lg-12 text-center">
                    <p>Suggestion successfully added!</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal pop-up fazer login -->
<div class="modal fadeIn aviso" id="avisoPLoginNec" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="glyphicon glyphicon-bell"><span>Notificação</span></i>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br />
            <div class="modal-body" style="padding: 20px 40px 30px;">
                <div class="col-lg-12 text-center">
                    <p> Please login to see all the questions!</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showRef(ac) {
        if (ac == "GI") {
            var txt = "Project Integration Management includes the processes and activities to identify, define, combine, unify, and coordinate the various processes and project management activities. The Project Integration Management processes are: Develop Project Charter; Develop Project Management Plan; Direct and Manage Project Work; Manage Project Knowledge; Monitor and Control Project Work; Perform Integrated Change Control and Close Project or Phase (PMI, 2017a)." + ac;
            //$("#info").html(txt);
            var div = document.getElementById('info');
            div.innerHTML = txt;
        }
        else if (ac == "GA") {
            var txt = "Project Scope Management includes the processes required to ensure that the project includes all the work required, and only the work required, to complete the project successfully. Managing the project scope is primarily concerned with defining and controlling what is and is not included in the project. The Project Scope Management processes are: Plan Scope Management; Collect Requirements; Define Scope; Create WBS; Validate Scope and Control Scope (PMI, 2017a)." + ac;
            //$("#info").html(txt);
            var div = document.getElementById('info');
            div.innerHTML = txt;
        }
        else if (ac == "GC") {
            var txt = "Project Schedule Management includes the processes required to manage the timely completion of the project. The Project Schedule Management processes are: Plan Schedule Management; Define Activities; Sequence Activities; Estimate Activity Durations; Develop Schedule; Control Schedule (PMI, 2017a)." + ac;
            //$("#info").html(txt);
            var div = document.getElementById('info');
            div.innerHTML = txt;
        }
        else if (ac == "GCU") {
            var txt = "Project Cost Management includes the processes involved in planning, estimating, budgeting, financing, funding, managing, and controlling costs so that the project can be completed within the approved budget. The Project Cost Management processes are: Plan Cost Management; Estimate Costs; Determine Budget and Control Costs (PMI, 2017a)." + ac;
            //$("#info").html(txt);
            var div = document.getElementById('info');
            div.innerHTML = txt;
        }
        else if (ac == "GQ") {
            var txt = "Project Quality Management includes the processes for incorporating the organization’s quality policy regarding planning, managing, and controlling project and product quality requirements in order to meet stakeholders’ objectives. The Project Quality Management processes are: Plan Quality Management; Manage Quality and Control Quality (PMI, 2017a)." + ac;
            //$("#info").html(txt);
            var div = document.getElementById('info');
            div.innerHTML = txt;
        }
        else if (ac == "GR  ") {
            var txt = "Project Resource Management includes the processes to identify, acquire, and manage the resources needed for the successful completion of the project. These processes help ensure that the right resources will be available to the project manager and project team at the right time and place. The Project Resource Management processes are: Plan Resource Management; Estimate Activity Resources; Acquire Resources; Develop Team; Manage Team and Control Resources (PMI, 2017a)." + ac;
            //$("#info").html(txt);
            var div = document.getElementById('info');
            div.innerHTML = txt;
        }
        else if (ac == "GCO") {
            var txt = "Project Communications Management consists of two parts. The first part is developing a strategy to ensure communication is effective for stakeholders. The second part is carrying out the activities necessary to implement the communication strategy. The Project Communications Management processes are: Plan Communications Management; Manage Communications; Monitor Communications (PMI, 2017a)." + ac;
            //$("#info").html(txt);
            var div = document.getElementById('info');
            div.innerHTML = txt;
        }
        else if (ac == "GRI") {
            var txt = "The objectives of project risk management are to increase the probability and/or impact of positive risks and to decrease the probability and/or impact of negative risks, in order to optimize the chances of project success. The Project Risk Management processes are: Plan Risk Management; Identify Risks; Perform Qualitative Risk Analysis; Perform Quantitative Risk Analysis; Plan Risk Responses; Implement Risk Responses and Monitor Risks (PMI, 2017a)." + ac;
            //$("#info").html(txt);
            var div = document.getElementById('info');
            div.innerHTML = txt;
        }
        else if (ac == "GAQ") {
            var txt = "Project Procurement Management includes the processes necessary to purchase or acquire products, services, or results needed from outside the project team. Project Procurement Management includes the management and control processes required to develop and administer agreements such as contracts, purchase orders, memoranda of agreements (MOAs), or internal service level agreements (SLAs). Project Procurement Management processes include the following: Plan Procurement Management; Conduct Procurements and Control Procurements (PMI, 2017a)." + ac;
            //$("#info").html(txt);
            var div = document.getElementById('info');
            div.innerHTML = txt;
        }
        else if (ac == "GS") {
            var txt = "Project Stakeholder Management includes the processes required to identify the people, groups, or organizations that could impact or be impacted by the project, to analyze stakeholder expectations and their impact on the project, and to develop appropriate management strategies for effectively engaging stakeholders in project decisions and execution. The processes support the work of the project team to analyze stakeholder expectations. The Project Stakeholder Management processes are: Identify Stakeholders; Plan Stakeholder Engagement; Manage Stakeholder Engagement; Monitor Stakeholder Engagement (PMI, 2017a)." + ac;
            //$("#info").html(txt);
            var div = document.getElementById('info');
            div.innerHTML = txt;
        }
    };

    function hideAr(x) {
        if (x.classList == "collapsed panel-title-child fa fa-caret-down") {
            x.classList.remove("collapsed", "panel-title-child", "fa", "fa-caret-down");
            x.classList.add("collapsed", "panel-title-child", "fa", "fa-caret-up");
        } else {
            x.classList.remove("collapsed", "panel-title-child", "fa", "fa-caret-up");
            x.classList.add("collapsed", "panel-title-child", "fa", "fa-caret-down");
        }
    };
</script>
<script src="../../../controller/perguntas.js" type="text/javascript"></script>
<script src="../../../controller/sugestoes.js" type="text/javascript"></script>