<link rel="stylesheet" href="../css/carousel.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="carousel-inner" role="listbox">
    <div style=" width: 100%">
        <img class="img-responsive" src="./img/1920x1080/010.jpg" alt="Slider Image">
        <div class="container">
            <div class="carousel-centered">
                <div class="margin-b-40">
                    <h1 class="carousel-title">HelP PME Projects</h1>
                    <p class="color-white">A finalidade deste projeto é o desenvolvimento de uma plataforma  <br /> interativa de apoio às práticas de gestão de projetos nas pequenas e médias empresas.</p>
                </div>
                <a href="#" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Sobre Nós</a>
            </div>
        </div>
    </div>
</div>
<!--========== PAGE LAYOUT ==========-->
<!-- Forum -->
<div id="about">
    <!-- ______________________Carousel______________________ -->
    <!--div style="background-color:#bfbfbf;"-->
    <!--div style="background-image: url('../img/1920x1080/long01.png');"-->
    <h2 style="margin-top: 90px;"></h2>
    <div data-ride="carousel">
        <div class="container cta-80">
            <div class="row blog">
                <div class="col-md-12">
                    <!--div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
                       <ol class="carousel-next">
                           <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                           <li data-target="#blogCarousel" data-slide-to="1"></li>
                       </ol>
                       </div-->
                    <div class="carousel-inner" role="listbox">
                        <div id="slide1" class="item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Data</span> </div>
                                            <!--Image-->
                                            <div class="crop">
                                                <img class="img-responsive" src="./img/carousel/101.png" alt="">
                                            </div>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5>ENEI</h5>
                                                </a>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                            <!--Image-->
                                            <div class="crop">
                                                <img class="img-responsive" src="./img/carousel/102.jpg">
                                            </div>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5>Start Point</h5>
                                                </a>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                            <!--Image-->
                                            <div class="crop">
                                                <img class="img-responsive" src="./img/carousel/103.jpg">
                                            </div>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5>Feira de Voluntariado</h5>
                                                </a>
                                            </div>
                                            <!--Text-->
                                            <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="slide2" class="item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                            <!--Image-->
                                            <div class="crop">
                                                <figure> <img alt="" src="./img/carousel/103.jpg"> </figure>
                                            </div>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5>Feira de Voluntariado</h5>
                                                </a>
                                            </div>
                                            <!--Text-->
                                            <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                            <!--Image-->
                                            <div class="crop">
                                                <figure> <img alt="" src="./img/carousel/104.jpg"> </figure>
                                            </div>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5>TSI2Market</h5>
                                                </a>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-box-blog">
                                        <div class="item-box-blog-image">
                                            <!--Date-->
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                            <!--Image-->
                                            <div class="crop">
                                                <figure> <img alt="" src="./img/carousel/102.jpg"> </figure>
                                            </div>
                                        </div>
                                        <div class="item-box-blog-body">
                                            <!--Heading-->
                                            <div class="item-box-blog-heading">
                                                <a href="#" tabindex="0">
                                                    <h5>Start Point</h5>
                                                </a>
                                            </div>
                                            <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                                            <!--Read More Button-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="blogCarousel"></div>
    <!-- ______________________/Carousel______________________ -->
    <!--div class="bg-color-sky-light" #b8b4b2 -->
    <!--div style="background-color:#edf0f2;#bfc1c7"-->
    <!--div style="background-image: url('.img/1920x1080/long01.png');"-->
    <div class="bg-color-sky-light">
        <div class="content-lg container">
            <!--div class="p-2" >
               <a href="#" class="btn btn-info btn-icon-split" data-toggle="modal" data-target="#add_pergunta">
                   <span class="icon text-white-50">
                       <i class="fas fa-question" aria-hidden="true"></i>
                   </span>
                   <span class="text">Adicionar Pergunta</span>
               </a>
               </div-->
            <div class="row">
                <div class="col-md-3 col-sm-7 col-md-offset-0">
                    <!-- Accordion -->
                    <div class="accordion">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <h2 style="font-size: 24px;">Áreas de Conhecimento</h2>
                            <div class="panel panel-default" style="height: 60px;">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 style="font-size: 15px">
                                        <div>
                                            <a class="panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion" href="#pIntegracao" aria-expanded="true">
                                                <i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="modal" data-target="#ref" onclick="showRef('GI')" style="margin-right: 10px;"></i>
                                                Gestão da Integração
                                                <p id="gIntegracao" class="text-center" style="color:#81848f; font-weight:bold"></p>
                                            </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default" style="height: 60px">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 style="font-size: 15px">
                                        <a class="collapsed panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion" href="#pCronograma" aria-expanded="false" aria-controls="collapseTwo">
                                            <i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="modal" data-target="#ref" onclick="showRef('GI')" style="margin-right: 10px;"></i>
                                            Gestão do Cronograma
                                            <p id="gCronograma" class="text-center" style="color:#81848f; font-weight:bold"></p>
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default" style="height: 60px">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 style="font-size: 15px">
                                        <a class="collapsed panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion" href="#pCusto" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="modal" data-target="#ref" onclick="showRef('GI')" style="margin-right: 10px;"></i>
                                            Gestão de Custo
                                            <p id="gCusto" class="text-center" style="color:#81848f; font-weight:bold"></p>
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default" style="height: 60px">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 style="font-size: 15px">
                                        <a class="collapsed panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="modal" data-target="#ref" onclick="showRef('GI')" style="margin-right: 10px;"></i>
                                            Gestão de Qualidade
                                            <p id="gQualidade" class="text-center" style="color:#81848f; font-weight:bold"></p>
                                        </a>
                                    </h4>
                                </div>
                                <a id="collapse4"></a>
                            </div>
                            <div class="panel panel-default" style="height: 60px">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 style="font-size: 15px">
                                        <a class="collapsed panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="modal" data-target="#ref" onclick="showRef('GI')" style="margin-right: 10px;"></i>
                                            Gestão de Recursos
                                            <p id="gRecursos" class="text-center" style="color:#81848f; font-weight:bold"></p>
                                        </a>
                                    </h4>
                                </div>
                                <a id="collapse5"></a>
                            </div>
                            <div class="panel panel-default" style="height: 60px">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 style="font-size: 15px">
                                        <a class="collapsed panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="modal" data-target="#ref" onclick="showRef('GI')" style="margin-right: 10px;"></i>
                                            Gestão de Comunicação
                                            <p id="gComunicacao" class="text-center" style="color:#81848f; font-weight:bold"></p>
                                        </a>
                                    </h4>
                                </div>
                                <a id="collapse6"></a>
                            </div>
                            <div class="panel panel-default" style="height: 60px">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 style="font-size: 15px">
                                        <a class="collapsed panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="modal" data-target="#ref" onclick="showRef('GI')" style="margin-right: 10px;"></i>
                                            Gestão de Riscos
                                            <p id="gRiscos" class="text-center" style="color:#81848f; font-weight:bold"></p>
                                        </a>
                                    </h4>
                                </div>
                                <a id="collapse7"></a>
                            </div>
                            <div class="panel panel-default" style="height: 60px">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 style="font-size: 15px">
                                        <a class="collapsed panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="modal" data-target="#ref" onclick="showRef('GI')" style="margin-right: 10px;"></i>
                                            Gestão de Aquisições
                                            <p id="gAquisicoes" class="text-center" style="color:#81848f; font-weight:bold"></p>
                                        </a>
                                    </h4>
                                </div>
                                <a id="collapse8"></a>
                            </div>
                            <div class="panel panel-default" style="height: 60px">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 style="font-size: 15px">
                                        <a class="collapsed panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fa fa-chevron-down" aria-hidden="true" role="button" data-toggle="modal" data-target="#ref" onclick="showRef('GI')" style="margin-right: 10px;"></i>
                                            Gestão de Stakeholders
                                            <p id="gStakeholders" class="text-center" style="color:#81848f; font-weight:bold"></p>
                                        </a>
                                    </h4>
                                </div>
                                <a id="collapse9"></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Accodrion -->
                </div>
                <div class="col-md-9 col-sm-5 md-margin-b-60">
                    <div class="margin-t-0 margin-b-10">
                        <h2>Fórum</h2>
                        <div id="perguntas_forum"></div>
                    </div>
                    <a href="#" class="btn-theme btn-theme-sm btn-white-bg text-uppercase">Seguinte</a>
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
    <!-- End Forum -->
    <!--/sobre nos-->
    <div id="sobre">
        <div class="content-lg container">
            <div class="row">
                <div class="col-md-5 col-sm-5 md-margin-b-60">
                    <div class="margin-t-50 margin-b-30">
                        <h2>Deixa aqui a tua sugestão!</h2>
                        <form id="formSugestao" method="post">
                            <div class="form-group">
                                <textarea class="form-control form-control-user" id="sugestao" name="message" rows="5" cols="30" placeholder=""></textarea>
                            </div>
                    </div>
                    <button type="submit" id="AddSugestao" class="btn-theme btn-theme-sm btn-white-bg text-uppercase" method="post">Enviar sugestão</button>
                </div>
                </form>
                <div class="col-md-5 col-sm-7 col-md-offset-2">
                    <!-- Accordion -->
                    <div class="accordion">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a class="panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Expert Research
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Hi-Tech Engineering
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Outstanding Results
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Accodrion -->
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
</div>
<!--/sobre nos-->
<!--Modal Ref-->
<div class="modal fadeIn" id="ref" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12 text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br />
                    <h1>Referências</h1>
                </div>
            </div>
            <div class="modal-body" style="padding: 40px 60px;">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="info"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <a id="Req" class="small" href="#">Mais info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fim Modal ref-->

<script>
    function showRef(ac) {
        var txt = "<p>Informações...</p><p>Projetos...</p><p>Dissertações...</p><p>Normas...</p><p>Coisas e tal...</p>" + ac;
        //$("#info").html(txt);
        var div = document.getElementById('info');
        div.innerHTML = txt;
    };
</script>

<script src="../../../controller/perguntas.js" type="text/javascript"></script>
<script src="../../../controller/sugestoes.js" type="text/javascript"></script>
