<link href="../css/layout.bar.css" rel="stylesheet" type="text/css" />

<!--========== PAGE LAYOUT ==========-->    
<div id="about" class ="bg-color-sky-light" style="margin-top: 100px;">
    <h2>O que é um projeto?</h2>
    <p>Resposta à pergunta! Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, ...</p>
    <h2>O que é a gestão de projetos?</h2>
    <p>Resposta à pergunta! Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, ...</p>
    <h2>Qual o papel do gestor?</h2>
    <p>Resposta à pergunta! Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, ...</p>
</div>
<!--========== /PAGE LAYOUT ==========-->
