<link href="../css/layout.bar.css" rel="stylesheet" type="text/css" />

<!--========== PAGE LAYOUT ==========-->    
<div id="about" class ="bg-color-sky-light" style="margin-top: 100px;">
    <h2>Normas ou Projetos de Normas sob Responsabilidade do TC258 e/ou da Comissão Técnica Portuguesa ONS APOGEP/CT175</h2>
        <table class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0" >
        <thead>
        <tr><th>Título da Norma</th><th>Descrição da Norma</th></tr></thead><tbody>
        <tr><td> ISO 21500: 2012</td><td> Project management – A Guide for project management </td></tr>
        <tr><td> NP4519: 2013</td><td> Gestão de projetos – Vocabulário </td></tr>
        <tr><td> ISO21504: 2015</td><td> Project, programe and portfólio managemente – Guidance on portfolio management </td></tr>
        <tr><td> ISO21505: 2017</td><td> Project, programe and portefólio managemente – Guidance on governance </td></tr>
        <tr><td> ISO21503: 2017</td><td>Project, programe and portfólio managemente – Guidance on programe management  </td></tr>
        <tr><td> NP4535: 2018</td><td>Requisitos para a Gestão de Projetos </td></tr>
        <tr><td> ISO21508: 2018</td><td>Earned value management in project and programme management;</td></tr>
        <tr><td> ISO 21511: 2018</td><td>Work breakdown structures for project and programe management</td></tr>
        <tr><td> ISO/TR 21506: 2018</td><td>Project, programe and portefólio management – Vocabulary </td></tr>
        </table>



    <h2>Normas ou Projetos de Normas sob responsabilidades do TC258 em construção</h2>
    <table class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0" >
    <thead>
    <tr><th>Título da Norma</th><th>Descrição da Norma</th></tr></thead><tbody>
    <tr><td> ISO/CD 21500</td><td> Project, programe and portefólio management – Context and Concepts  </td></tr>
    <tr><td> ISO/CD 21502</td><td> Project, programe and portefólio management – Guidance on Project Management  </td></tr>
    <tr><td> ISO/WD TS 21512</td><td> Earned Value Management (EVM) in Project and Programe Management – Implementation Guide  </td></tr>
    </table>



    <h2>Normas ou Projetos de Normas sob responsabilidades do TC258 em fase de estudo</h2>
    <table class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0" >
    <thead>
    <tr><th>Título da Norma</th><th>Descrição da Norma</th></tr></thead><tbody>
    <tr><td> ISO/TC 258/AHG 13</td><td> MSS – Sistema de Gestão para a Gestão de Projetos, Programas e Portefólios </td></tr>
    <tr><td> ISO/TC 258/AHG 14</td><td> Project environment </td></tr>
    </table>

    <h2>Links para cursos, pós graduações e certificações em gestão de projetos</h2>
    <ul>
        <li>https://imf-portugal.pt/master-em-direcao-e-gestao-de-projetos-project-management?gclid=CjwKCAiAhJTyBRAvEiwAln2qB7h6SF8n9JPapeg3OE0_Ct9RCMOJ97MqPIYP1bb_W0F2jW3gu4PXUhoCZBMQAvD_BwE</li>
        <li>https://www.pbs.up.pt/pt/programas/pos-graduacoes/gestao-de-projetos </li>
        <li>https://www.isg.pt/home/oferta-formativa/pg/gestao-de-projetos</li>
        <li>https://www.idefe.pt/cursos/GP </li>
        <li>https://clsbe.lisboa.ucp.pt/pt-pt/gestao-de-projetos-e-operacoes </li>
        <li>https://www.ulusofona.pt/pos-graduacao/gestao-avancada-de-projetos-pmi </li>
        <li>https://www.ipleiria.pt/cursos/course/pos-graduacao-em-gestao-de-projetos</li>
        <li>https://www.unl.pt/curso/ensino/escola-doutoral/curso-de-gestao-de-projetos-project-management  </li>
        <li>https://www.ipp.pt/ensino/cursos/mestrado/estg/80001138 </li>
        <li>https://www.uminho.pt/pt/ensino/oferta-educativa/_layouts/15/uminho.portalum.ui/pages/catalogocursodetail.aspx?itemid=2973&catid=8  </li>
        <li>https://cio.com.br/12-certificacoes-de-gestao-de-projetos-para-ter-em-mente/</li>
        <li>https://www.apogep.pt/certificacao/4lc/niveis-de-certificacao </li>
        <li>https://www.galileu.pt/oferta/project-manager-aveiro-pos-laboral-20200615/?gclid=CjwKCAiAhJTyBRAvEiwAln2qBywKJF4VN-cMhspeXNwaPywJTE_KT2gmJkdPfSMBokcAsemFxaz5nxoCeg0QAvD_BwE  </li>
      </ul>

      <h2>Link da página da União Europeia de Gestão de Projetos </h2>
    <ul>
        <li>https://imf-portugal.pt/master-em-direcao-e-gestao-de-projetos-project-management?gclid=CjwKCAiAhJTyBRAvEiwAln2qB7h6SF8n9JPapeg3OE0_Ct9RCMOJ97MqPIYP1bb_W0F2jW3gu4PXUhoCZBMQAvD_BwE</li>
    </ul>
</div>
<!--========== /PAGE LAYOUT ==========-->
