<link href="../css/layout.bar.css" rel="stylesheet" type="text/css" />
<link href="./css/forum.css" rel="stylesheet" type="text/css" />

<!--========== PAGE LAYOUT ==========-->
<div id="about" class="bg-color-sky-light" style="margin-top: 100px;">
    <h2>Standards or draft standards under the responsibility of the TC258 and / or the Portuguese Technical Commission ONS APOGEP / CT175</h2>
    <table class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr><th>Standart Title</th><th>Description</th></tr>
        </thead>
        <tbody>
            <tr><td> ISO 21500: 2012</td><td> Project management – A Guide for project management </td></tr>
            <tr><td> NP4519: 2013</td><td> Gestão de projetos – Vocabulário </td></tr>
            <tr><td> ISO21504: 2015</td><td> Project, programe and portfólio managemente – Guidance on portfolio management </td></tr>
            <tr><td> ISO21505: 2017</td><td> Project, programe and portefólio managemente – Guidance on governance </td></tr>
            <tr><td> ISO21503: 2017</td><td>Project, programe and portfólio managemente – Guidance on programe management  </td></tr>
            <tr><td> NP4535: 2018</td><td>Requisitos para a Gestão de Projetos </td></tr>
            <tr><td> ISO21508: 2018</td><td>Earned value management in project and programme management;</td></tr>
            <tr><td> ISO 21511: 2018</td><td>Work breakdown structures for project and programe management</td></tr>
            <tr><td> ISO/TR 21506: 2018</td><td>Project, programe and portefólio management – Vocabulary </td></tr>
    </table>



    <h2>Standards or Draft Standards under TC258 responsibilities in construction</h2>
    <table class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr><th>Standart Title</th><th>Description</th></tr>
        </thead>
        <tbody>
            <tr><td> ISO/CD 21500</td><td> Project, programe and portefólio management – Context and Concepts  </td></tr>
            <tr><td> ISO/CD 21502</td><td> Project, programe and portefólio management – Guidance on Project Management  </td></tr>
            <tr><td> ISO/WD TS 21512</td><td> Earned Value Management (EVM) in Project and Programe Management – Implementation Guide  </td></tr>
    </table>



    <h2>Standards or Draft Standards under TC258 responsibilities in study</h2>
    <table class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr><th>Standart Title</th><th>Description</th></tr>
        </thead>
        <tbody>
            <tr><td> ISO/TC 258/AHG 13</td><td> MSS  </td></tr>
            <tr><td> ISO/TC 258/AHG 14</td><td> Project environment </td></tr>
    </table>

    <h2> Courses and Certifications in Project Management</h2>
    <p>
        How can I improve my knowledge about Project Management?
        The HELP PME PROJECTS presents you some suggestions for masters, postgraduate courses, training, courses and certifications that will improve your Knowledge.
    </p>

    <ul>
        <li onclick="window.open( 'http://www.dps.uminho.pt/Default.aspx?tabid=7&pageid=663&lang=pt-PT'   )">Mestrado em Gestão de Projetos de Engenharia – Universidade do Minho </li>
        <li onclick="window.open('https://www.ipp.pt/ensino/cursos/mestrado/estg/80001807  '  ) ">Mestrado em Gestão de Projetos – Politécnico do Porto </li>
        <li onclick="window.open('https://www.pbs.up.pt/pt/programas/pos-graduacoes/gestao-de-projetos/'  ) "> Pós-Graduação em Gestão de Projetos – Porto Business School	</li>
        <li onclick="window.open('https://www.isg.pt/home/oferta-formativa/pg/gestao-de-projetos/'   )"> Pós-Graduação em Gestão de Projetos – Instituto Superior de Gestão</li>
        <li onclick="window.open('https://www.idefe.pt/cursos/GP'   )"> Pós-graduação em Gestão de Projetos – ISEG – Lisbon School of Economics and Management</li>
        <li onclick="window.open('https://www.ulusofona.pt/pos-graduacao/gestao-avancada-de-projetos-pmi'  ) ">Pós-Graduação em Gestão Avançada de Projetos PMI (ONLINE) – Universidade Lusófona </li>
        <li onclick="window.open('https://www.ulusofona.pt/pos-graduacao/gestao-avancada-de-projetos-pmi'  ) ">Pós-graduação em Gestão de Projetos – Politécnico de Leiria </li>
        <li onclick="window.open('https://imf-portugal.pt/master-em-direcao-e-gestao-de-projetos-project-management?gclid=CjwKCAiAhJTyBRAvEiwAln2qB7h6SF8n9JPapeg3OE0_Ct9RCMOJ97MqPIYP1bb_W0F2jW3gu4PXUhoCZBMQAvD_BwE'  ) "> Pós-graduação em Gestão de Projetos – IMF Business School Portugal</li>
        <li onclick="window.open('https://clsbe.lisboa.ucp.pt/pt-pt/gestao-de-projetos-e-operacoes'    )"> Formação em Gestão de Projetos - Católica Lisbon Business and Economics</li>
        <li onclick="window.open('https://www.catolicabs.porto.ucp.pt/pt/curso-detalhes/gestao-projetos/9230' )  "> Curso executivo em Gestão de Projetos – Católica Business School Porto</li>
        <li onclick="window.open('https://www.unl.pt/curso/ensino/escola-doutoral/curso-de-gestao-de-projetos-project-management' )  ">Curso de Gestão de Projetos – Universidade Nova de Lisboa  </li>
        <li onclick="window.open('https://cenertec.pt/index.php?p=cursos&slug=gestao-de-projectos-metodologia-pmbok&gclid=CjwKCAjw7-P1BRA2EiwAXoPWA48P8fNNoWwtlQwHMx4oiGL-x10DfvOzi2d57JiESSV0zZ7Wmpl-yxoC7eEQAvD_BwE'  ) "> Curso Gestão de Projetos – ONLINE – Centro de Energia e Tecnologia</li>
        <li onclick="window.open('https://www.sgs.pt/pt-pt/training-services/leadership-and-management/management-development-training/professional-project-management-training'  ) ">Curso em Gestão de Projetos </li>
        <li onclick="window.open('https://apeu.fe.uc.pt/default.asp'  ) "> Curso Gestão de Projetos – Associação para a Extensão Universitária – FEUC</li>
        <li onclick="window.open('https://ricardo-vargas.com/pt/' )  "> Cursos e Workshops Ricardo Vargas </li>
        <li onclick="window.open( 'https://www.winning-consulting.com/'   )">Cursos e certificações  </li>
        <li onclick="window.open( 'https://www.apogep.pt/certificacao/4lc/niveis-de-certificacao'   )">Certificação APOGEP - IPMA </li>
        <li onclick="window.open( 'https://www.pmi.org/certifications'   )">Certificação em Gestão de Projetos – PMI </li>
        <li onclick="window.open( 'https://www.tecminho.uminho.pt/showcourse.php?plan=1&course=3238'   )">Certificação em Gestão de Projetos – Tecminho </li>
        <li onclick="window.open( 'https://www.galileu.pt/oferta/project-manager-aveiro-pos-laboral-20200615/?gclid=CjwKCAiAhJTyBRAvEiwAln2qBywKJF4VN-cMhspeXNwaPywJTE_KT2gmJkdPfSMBokcAsemFxaz5nxoCeg0QAvD_BwE '   )">Certificação Project Manager – Agile Scrum Foundation – Galileu</li>
        <li onclick="window.open( 'https://academy.autonoma.pt/cursos/mba-gestao-de-projetos/'   )">MBA em Gestão de Projetos – Autónoma Academy</li>
    </ul>

    <h2>Link da página da União Europeia de Gestão de Projetos </h2>
    <ul>
        <li onclick="window.open(' https://imf-portugal.pt/master-em-direcao-e-gestao-de-projetos-project-management?gclid=CjwKCAiAhJTyBRAvEiwAln2qB7h6SF8n9JPapeg3OE0_Ct9RCMOJ97MqPIYP1bb_W0F2jW3gu4PXUhoCZBMQAvD_BwE')"> União Europeia de Gestão de Projetos</li>
    </ul>


    <h2> Project Management References</h2>
    <ul>
        <li>Project Management Book of Knowlegde (PMBOK) – PMI</li>
        <li>ICB4 – IPMA</li>
        <li>APM Body of Knowledge – Association for Project Management</li>
        <li>AIPM – Autralian Institute of Project Management</li>
    </ul>

    <h2>  Guides made available by APOGEP </h2>
    <ul>
        <li onclick="window.open('/uploads/IPMA-ICB4.pdf')">ICB4 (English)</li>
        <li onclick="window.open('/uploads/ICB4-P_V1.pdf')">ICB4 (Portuguese)</li>
        <li onclick="window.open('/uploads/IPMA-ICB4-in-AgileWorld-v22.pdf')">ICB4 IN AGILE WORLD (English)</li>

    </ul>

    <h2>Project Management Sites </h2>
    <ul>
        <li onclick="window.open('')">Ricardo Vargas </li>
        <li onclick="window.open('https://www.praxisframework.org/')">Praxis</li>


    </ul>



</div>
<!--========== /PAGE LAYOUT ==========-->
