<link href="../css/layout.bar.css" rel="stylesheet" type="text/css" />
<link href="./css/forum.css" rel="stylesheet" type="text/css" />

<!--========== PAGE LAYOUT ==========-->    
<div id="about" class ="bg-color-sky-light" style="margin-top: 100px;">
    <div style="margin-left: 80px; margin-right: 80px; margin-bottom: 40px;">
        <br>
    <h2>Project</h2>
    <p>A project is a temporary endeavor undertaken to create a unique product, service, or result. The temporary nature of projects indicates a definite beginning and end. A project’s end is reached when the objectives have been achieved or when the project is terminated because its objectives will not or cannot be met, or when the need for the project no longer exists (PMI, 2017a).</p>
    <h2>Program</h2>
    <p>A program is defined as related projects, subsidiary programs, and program activities managed in a coordinated manner to obtain benefits not available from managing them individually (PMI, 2017a).</p>
    <h2>Portfolio</h2>
    <p>A portfolio is defined as projects, programs, subsidiary portfolios, and operations managed in a coordinated manner to achieve strategic objectives (PMI, 2017a).</p>
    <h2>Project management</h2>
    <p> Project management is the application of knowledge, skills, tools, and techniques to project activities to meet the project requirements. Project management is accomplished through the appropriate application and integration of the project management processes identified for the project. Project management focuses on interdependencies within a project to determine the optimal approach for managing the project (PMI, 2017a).</p>
    <h2>Program management  </h2>
    <p>Program management is defined as the application of knowledge, skills, and principles to a program to achieve the program objectives and to obtain benefits and control not available by managing program components individually. Program management focuses on the interdependencies between projects and between projects and the program level to determine the optimal approach for managing them (PMI, 2017a).	</p>
    <h2>Portfolio management </h2>
    <p>Portfolio management is defined as the centralized management of one or more portfolios to achieve strategic objectives. Portfolio management confirms that the portfolio is consistent with and aligned with organizational strategies. The programs or projects of the portfolio may not necessarily be interdependent or directly related (PMI, 2017a).</p>
    <h2>Project manager </h2>
    <p>The project manager is the person assigned by the performing organization to lead the team responsible for achieving the project objectives. To be successful, the project manager should tailor the project approach, life cycle, and project management processes to meet the project and product requirements (PMI, 2017a).</p>
    <h2>Program manager</h2>
    <p>The Program Manager is the person authorized by the organization to lead the team(s) responsible for achieving program goals and objectives. The program manager maintains responsibility for the leadership, conduct, and performance of a program, and for building a program team that is capable of achieving program objectives and delivering anticipated program benefits. </p>
    <h2>Portfolio manager</h2>
    <p>Portfolio managers have the responsibility for the establishment and implementation of portfolio management. Portfolio managers are responsible for ensuring proper communication and coordination among portfolio components.</p>
    </div>
</div>
<!--========== /PAGE LAYOUT ==========-->
