<link href="../css/layout.bar.css" rel="stylesheet" type="text/css" />
<link href="./css/forum.css" rel="stylesheet" type="text/css" />

<!--========== PAGE LAYOUT ==========-->    
<div id="about" class ="bg-color-sky-light" style="margin-top: 100px;">
    <div style="margin-left: 100px; margin-right: 140px; margin-bottom: 40px;">
        <br>
    <h2>Projeto</h2>
    <p>Um projeto é um esforço temporário realizado com o objetivo de criar um produto, serviço ou resultado único. É temporário pois tem um início e um fim definidos, sendo que o fim pode ser definido não só através de uma data, mas também através do alcance dos objetivos do projeto, da impossibilidade de cumprimento dos objetivos, ausência de recursos, entre outros (PMI, 2017a).</p>
    <h2>Programa</h2>
    <p>Um programa define-se como um conjunto de projetos, programas subsidiários e atividades relacionadas do programa, que geridos em conjunto possibilitam a obtenção de benefícios que não seriam possíveis que fossem geridos individualmente (PMI, 2017a).</p>
    <h2>Portefólio</h2>
    <p>Um portefólio define-se como um conjunto de projetos, programas, portefólios subsidiários e operações geridas em conjunto de modo a alcançar objetivos estratégicos (PMI, 2017a).</p>
    <h2>Gestão de projetos</h2>
    <p>A gestão de projetos define-se como a aplicação de conhecimentos, habilidades, ferramentas e técnicas com o objetivo de cumprir os requisitos de um projeto. Esta é realizada através da aplicação e integração apropriada dos processos de gestão de projetos selecionados, focando-se nas interdependências que existem dentro de um projeto para determinar a abordagem ideal para o gerir (PMI, 2017a).</p>
    <h2>Gestão de programas </h2>
    <p>A gestão de programas é definida como a aplicação de conhecimentos, habilidades e princípios de modo a atingir os seus objetivos e a obter os benefícios e controlo que não estariam disponíveis se os componentes fossem geridos individualmente. Assim, a gestão de programas foca-se nas interdependências entre projetos e entre projetos e o nível do programa, com o objetivo de definir a abordagem ideal para os gerir (PMI, 2017a).	</p>
    <h2>Gestão de portefólios</h2>
    <p>A gestão de portefólios define-se como a gestão centralizada de um ou mais portefólios para alcançar objetivos estratégicos, devendo esta ser consistente e alinhada com a estratégia organizacional. Os componentes do portefólio (programas e projetos) podem não ser interdependentes ou estar diretamente relacionados (PMI, 2017a).</p>
    <h2>Gestor de projetos</h2>
    <p>O papel do Gestor de Projetos é liderar a equipa definida para alcançar os objetivos do projeto. Este é responsável por moldar a abordagem do projeto, o ciclo de vida e os processos de gestão de projetos de modo a cumprir os requisitos do projeto e do produto (PMI, 2017a).</p>
    <h2>Gestor de programas</h2>
    <p>O gestor de programas é autorizado pela organização para liderar a(s) equipa(s) responsável(is) por atingir os objetivos do programa. Este mantém a responsabilidade pela liderança, conduta e desempenho do programa, e por selecionar a equipa do programa capaz de atingir os objetivos do programa e de entregar os benefícios do mesmo antecipadamente (PMI, 2017c). </p>
    <h2>Gestor de portefólios</h2>
    <p>O papel do Gestor de Portefólios é estabelecer e implementar a gestão do portefólio. Este é responsável por assegurar a comunicação e coordenação entre os componentes do portefólio (PMI, 2017b).</p>
    </div>
</div>
<!--========== /PAGE LAYOUT ==========-->
