
    <!--========== PAGE LAYOUT ==========-->
    <!-- Forum -->
    <div id="about">

        <div id="blogCarousel"></div>

        <div class="container content">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9" id="perfil">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <h1>Perfil</h1>
                            <br />
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-12">
                        <form id="formUtilizador" class="user text-center>">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="nome" aria-describedby="" placeholder="Nome">
                                </div>
                                <div class="form-group" id="idadeDiv">
                                    <input type="number" class="form-control form-control-user" id="idade" aria-describedby="" placeholder="Idade">
                                </div>
                                <div class="form-group" id="generoDiv">
                                    <select class="form-control form-control-user" data-live-search="true" id="genero">
                                        <option value="" disabled selected>Género</option>
                                        <option value="Masculino">Masculino</option>
                                        <option value="Feminino">Feminino</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="email" aria-describedby="" placeholder="E-mail">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="password" aria-describedby="" placeholder="Password">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <select class="form-control form-control-user" data-live-search="true" id="profissao" onchange="checkProfissao(this);">
                                        <option value="" disabled selected>Profissão</option>
                                        <option value="Empresa">Empresa</option>
                                        <option value="Gestor de Projetos">Gestor de Projetos</option>
                                        <option value="Professor/Investigador">Professor/Investigador</option>
                                        <option value="Estudante">Estudante</option>
                                    </select>
                                </div>

                                <!--Escolha de opções Profissão-->
                                <!--Empresa-->
                                <div id="Empresa" style="display: none;">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" id="ramoEp" aria-describedby="" placeholder="Ramo Empresarial">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control form-control-user" id="nEmpregados" aria-describedby="" placeholder="Nº de empregados">
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control form-control-user" data-live-search="true" id="regiao">
                                            <option value="" disabled selected>Região do país</option>
                                            <option value="Alentejo">Alentejo</option>
                                            <option value="Algarve">Algarve</option>
                                            <option value="Beira Interior">Beira Interior</option>
                                            <option value="Beira Litoral">Beira Litoral</option>
                                            <option value="Entre Douro e Minho">Entre Douro e Minho</option>
                                            <option value="Ribatejo e Oeste">Ribatejo e Oeste</option>
                                            <option value="Região Autónoma dos Açores">Região Autónoma dos Açores</option>
                                            <option value="Região Autónoma da Madeira">Região Autónoma da Madeira</option>
                                        </select>
                                    </div>
                                </div>

                                <!--Gestor de Projetos-->
                                <div id="GP" style="display: none;">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" id="gp_nome_emp" aria-describedby="" placeholder="Nome da Empresa (Opcional)">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" id="ramoEp_gp" aria-describedby="" placeholder="Ramo Empresarial (Opcional)">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control form-control-user" id="nEmpregados_gp" aria-describedby="" placeholder="Nº de empregados (Opcional)">
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control form-control-user" data-live-search="true" id="regiao_gp">
                                            <option value="" disabled selected>Região do país (Opcional)</option>
                                            <option value="Alentejo">Alentejo</option>
                                            <option value="Algarve">Algarve</option>
                                            <option value="Beira Interior">Beira Interior</option>
                                            <option value="Beira Litoral">Beira Litoral</option>
                                            <option value="Entre Douro e Minho">Entre Douro e Minho</option>
                                            <option value="Ribatejo e Oeste">Ribatejo e Oeste</option>
                                            <option value="Região Autónoma dos Açores">Região Autónoma dos Açores</option>
                                            <option value="Região Autónoma da Madeira">Região Autónoma da Madeira</option>
                                        </select>
                                    </div>
                                </div>
                                <!--Professor/Investigador-->
                                <div class="form-group" id="PI" style="display: none;">
                                    <input type="text" class="form-control form-control-user" id="area" aria-describedby="" placeholder="Área Científica">
                                </div>
                                <!--Estudante-->
                                <div class="form-group" id="Estudante" style="display: none;">
                                    <input type="text" class="form-control form-control-user" id="estudo" aria-describedby="" placeholder="Ciclo de Estudo">
                                </div>
                                <!--Fim da escolha de profissões-->
                                <div class="form-group">
                                    <textarea class="form-control form-control-user" id="descricao" name="message" rows="5" cols="30" placeholder="Descrição"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-2">
                                <div id="perfil" class="form-group text-center">
                                    <input value="Perfil público" type="checkbox" class="custom-checkbox"><label class="custom-label">Perfil público</label><br />
                                    <input value="Perfil privado" type="checkbox" class="custom-checkbox"><label class="custom-label">Perfil privado</label><br />
                                </div>
                                <div class="form-group">
                                    <a type="submit" href="" id="btperfil" class="btn btn-primary btn-user btn-block">Editar Perfil</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Forum -->
    <!--========== END PAGE LAYOUT ==========-->

    <!-- dropdown -->
    <script>
        function menu() {
            var x = document.getElementById("menu");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        };

        function menu2() {
            var x = document.getElementById("menu2");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        };
    </script>

    <!--Check escolhas profissões-->
    <script type="text/javascript">
        function checkProfissao(that) {
            if (that.value == "Empresa") {
                document.getElementById("Empresa").style.display = "block";
                document.getElementById("idadeDiv").style.display = "none";
                document.getElementById("generoDiv").style.display = "none";
                document.getElementById("GP").style.display = "none";
                document.getElementById("PI").style.display = "none";
                document.getElementById("Estudante").style.display = "none";
            } else if (that.value == "Gestor de Projeto") {
                document.getElementById("Empresa").style.display = "none";
                document.getElementById("idadeDiv").style.display = "block";
                document.getElementById("generoDiv").style.display = "block";
                document.getElementById("GP").style.display = "block";
                document.getElementById("PI").style.display = "none";
                document.getElementById("Estudante").style.display = "none";
            } else if (that.value == "Professor/Investigador") {
                document.getElementById("Empresa").style.display = "none";
                document.getElementById("idadeDiv").style.display = "block";
                document.getElementById("generoDiv").style.display = "block";
                document.getElementById("GP").style.display = "none";
                document.getElementById("PI").style.display = "block";
                document.getElementById("Estudante").style.display = "none";
            } else if (that.value == "Estudante") {
                document.getElementById("Empresa").style.display = "none";
                document.getElementById("idadeDiv").style.display = "block";
                document.getElementById("generoDiv").style.display = "block";
                document.getElementById("GP").style.display = "none";
                document.getElementById("PI").style.display = "none";
                document.getElementById("Estudante").style.display = "block";
            }
            else {
                document.getElementById("Empresa").style.display = "none";
                document.getElementById("GP").style.display = "none";
                document.getElementById("PI").style.display = "none";
                document.getElementById("Estudante").style.display = "none";
            }
        }
    </script>

    <script type="text/javascript" src="../../controller/utilizador.js"></script>
