<!DOCTYPE html>

<html lang="en" class="no-js">

<head>
    <meta charset="utf-8" />
    <title>Help Me Projects</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="FairTech" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
    <link href="../vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../vendor/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css" />
    <link href="../css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="../css/forum.css" rel="stylesheet" type="text/css" />

</head>

<body id="bodyreset" data-spy="scroll">

    <section>
        <div class="container content">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-5 col-md-6 reset">
                    <div class="col-lg-12 text-center">
                        <br />
                        <h2>Esqueceu a sua password?</h2>
                    </div>
                    <br />
                    <div class="col-lg-12 text-center">
                        <p>Insira o seu endereço de e-mail com qual se registou e enviaremos um link de redifinção de password para o seu e-mail.</p>
                        <br />
                        <form id="formResetPassword" class="user text-center" method="post">
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="resetEmail" aria-describedby="email" placeholder="Insira o seu e-mail">
                            </div>
                            <br />
                            <div class="form-group">
                                <button type="submit" id="btreset" class="btn btn-primary btn-user btn-block">Enviar link para o e-mail</button>
                            </div>
                        </form>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal pop-up email -->
    <div class="modal fadeIn aviso" id="avisoEmail" role="dialog" aria-modal="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="glyphicon glyphicon-bell"><span>Notificação</span></i>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <br />
                <div class="modal-body" style="padding: 20px 40px 30px;">
                    <div class="col-lg-12 text-center">
                        <p>E-mail enviado com sucesso!</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal pop-up email mal -->
    <div class="modal fadeIn aviso" id="avisoEmailMal" role="dialog" aria-modal="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="glyphicon glyphicon-bell"><span>Notificação</span></i>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <br />
                <div class="modal-body" style="padding: 20px 40px 30px;">
                    <div class="col-lg-12 text-center">
                        <p>E-mail não foi enviado com sucesso!</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- CORE PLUGINS -->
    <script src="../vendor/jquery.min.js" type="text/javascript"></script>
    <script src="../vendor/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- PAGE LEVEL PLUGINS -->
    <script src="../vendor/jquery.easing.js" type="text/javascript"></script>
    <script src="../vendor/jquery.back-to-top.js" type="text/javascript"></script>
    <script src="../vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
    <script src="../vendor/jquery.wow.min.js" type="text/javascript"></script>
    <script src="../vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>
    <script src="../vendor/masonry/jquery.masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../vendor/masonry/imagesloaded.pkgd.min.js" type="text/javascript"></script>

    <!-- PAGE LEVEL SCRIPTS -->
    <script src="../js/layout.min.js" type="text/javascript"></script>
    <script src="../js/components/wow.min.js" type="text/javascript"></script>
    <script src="../js/components/swiper.min.js" type="text/javascript"></script>
    <script src="../js/components/masonry.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="../../../controller/utilizador.js"></script>

</body>
<!-- END BODY -->
</html>